#content {
    width: 100% !important;
    margin: 0;
    box-shadow: none;
}

.cust360_main_box {
    background: #fff;
    padding: 20px 30px;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border-radius: 3px;
    margin-bottom: 15px;
}


.pr_table_show h3 {
    text-align: left;
    padding: 8px 15px;
    margin: 0 1%;
    background: #f57921;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    float: right;
}

/*.spinner {
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    top: 10%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

 .spinner > div {
  background-color: #E74D2C;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.spinner .rect6 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
} */


@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.sticky-table, .sticky-table * {
    border: 0;
}

.product_content h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    padding: 10px 0 20px;
    display: inline-block;
    color: #303548;
}


select#compny_data {
    width: 100%;
    border: 1px solid #ddd;
    height: 35px;
    padding: 5px;
    border-radius: 2px;
    max-width: 120px;
    font-size: 13px;
    float:right;
}


.cust360_border {
    border: 0;
    position: relative;
    height: auto;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border-radius: 3px;
    background-color: #e5e5e5;
    min-height: 400px;
}

.svg-container .main-svg {
    background-color: transparent !important;
}

.cust360_text_data {
    font-size: 14px;
    font-weight: 500;
}

.cust360_table_display {
    max-height: 400px;
    overflow-y: auto;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
}

.cust360_export_btn{
    background: #f57921;
    border-radius: 5px;
    float:right;
    font-size:13px;
}

.cust360_filter_border{
    display: inline-block;
    border:  none;
    background-color: white;
    /* margin-top: 0px; */
    padding-top: 20px;
    width: 32%;
    margin-left: 10px;
}

select.dropdown_reports {
    width: 108%;
    border: 1px solid #ddd;
    padding: 2px;
}

.cust360_report_btn {
    border: 0;
    background: #f57921;
    border-radius: 3px;
    width: 100px;
    color: white ! important;
    font-size: 14px;
    padding: 10px;
    font-weight: 400;
    line-height: 13px;
    transition: all 0.5s;
}

.cust360_report_btn:hover,
.cust360_export_btn:hover {
	background: #ea7c2d;
	color: #fff !important;
}

.filter_box {
    margin-top: 0;
    float: left;
    width: 100%;
}

select#drp>option{
    height: 30px;
}


.cust360_ordr_booking_border {
    display: inline-block;
    border: 1px solid darkblue;
    background-color: white;
    height: 272px;
    /* margin-top: 0px; */
    padding-top: 5px;
    width: 48%;
    float: right;
    margin-top: -109px;
    margin-right: 13px;
}

.cust360_sales_booking_border{
    display: inline-block;
    border: 1px solid darkblue;
    background-color: white;
    height: 272px;
    /* margin-top: 0px; */
    padding-top: 5px;
    width: 48%;
    float: right;
    margin-top: -109px;
    margin-right: 13px;
}

/* Customer 360 Reports Data css ends */
.p_attribute_item_title {
    font-weight: 500 !important;
    font-size: 14px !important;
    color: #505458;
    padding: 10px 15px;
     border-radius: 4px;
}

/* .p_attribute_item_title.first {
    background: linear-gradient(to right, #fe9365, #feb798);  
}

.p_attribute_item_title.second {
    background: linear-gradient(to right, #0ac282, #0df3a3);
}

.p_attribute_item_title.last {
    background: linear-gradient(to right, #fe5d70, #fe909d);
} */

.p_attribute_item_title select {
    border: 1px solid #ddd;
    padding: 7px 5px;
    font-size: 13px;
    color: #333;
    font-weight: 400;
    border-radius: 2px;
    width: 120px;
}

.main-tableDiv.sticky-table {
    margin-top: 20px;
    overflow: inherit;
}

.product__body {
    padding: 0;
    border-bottom: 0;
}

.cust360_text_data h3 {
    padding: 10px 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

.cust360_table_display .table > thead > tr > th {
    border-bottom: 0;
    padding: 5px !important;
    font-size: 13px;
    font-weight: 500;
}

.cust360_table_display .table > tbody > tr > th,
.cust360_table_display .table > thead > tr > td,
.cust360_table_display .table > tbody > tr > td {
    padding: 5px !important;
    font-size: 13px;
}

div#loading-wrapper {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #f57921;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 45%;
    top: 40%; 
}

.no_data_cust360_border {
    border: 0;
    height: auto;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,1);
    border-radius: 5px;
    background-color: lightgrey;
    min-height: 500px;
    position: relative;
    margin-bottom: 20px;
}

span.noData_text {
    /* text-align: center; */
    font-size: 22px;
    margin-left: 30%;
    vertical-align: middle top;
    margin-top: 10%;
}

#failureDataCheck{
	display: none;
}

.cust360_table_display table th {
    line-height: 14px !important;
    vertical-align: middle !important;
}

.cust360_export_btn {
    padding: 8px 10px !important;
}
.disclaimer{
	 font-size: 10px;
	 font-weight :400;
}

#customerId{
	margin-top: 8px;
    margin-left: 10px;
    font-weight: 500;
}

#customerName{
	margin-top: 8px;
    margin-left: 18px;
    font-weight: 500;
    margin-left: 70px;
}

.custDetailsBox{
    min-height: 25px;
    border: 1px solid #ddd;
    background-color: aliceblue;
    min-height: 32px;
}

.reportTitle{
	position: absolute;
    font-size: 13.5px;
    font-family: verdana;
    font-weight: 600;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.noGraphData {
    position: absolute;
    font-size: 13.5px;
    font-family: verdana;
    font-weight: 500;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:80%;
    color : black;
    height: 60px;
}

.mrq_data{
	    height: 100%;
}

.loader_text {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #E74D2C;
    font-weight: 300;
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translate(-50%, -50%);
}

      blink {
        animation: blinker 1.5s linear infinite;
        /* color: #E74D2C; */
       }
      @keyframes blinker {  
        50% { opacity: 0; }
       }
       
        blinkLoaderText {
        animation: blinker 1.5s linear infinite;
        color: #E74D2C;
       }
       
.daysText{
	font-size : 12px;
} 

