.complaint_main_box {
 	background: #fff;
    padding: 20px 30px;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border-radius: 3px;
    margin-bottom: 15px;
}

.product_content h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    padding: 10px 0 20px;
    display: inline-block;
    color: #303548;
}

#complaintAdminUser h2{
	margin-left : 20px;
}

.cust360_table_display table th {
    line-height: 14px !important;
    vertical-align: middle !important;
}

.complaint_export_btn {
    padding: 8px 10px !important;
    float: right;
}

.daysText{
	font-size : 12px;
}  

.cust_main-tableDiv.cust_sticky-table {
    margin-top: 20px;
    overflow: inherit;
}

.customerComplaint_border{
	border: 0;
    position: relative;
    height: auto;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border-radius: 3px;
    background-color: #e5e5e5;
    min-height: 400px;
}

.customerComplaintDisclaimer{
	 font-size: 10px;
	 font-weight :400;
}


#content {
    width: 100% !important;
    margin: 0;
    box-shadow: none;
}

.cust360_main_box {
    background: black;
     /* padding: 20px 30px; */
    /* padding: 11px 8px 0px 10px; */
    padding : 12px 12px 0px 12px;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border-radius: 3px;
    margin-bottom: 15px;
}

.no_data_main_box{
	background: white;
     /* padding: 20px 30px; */
    /* padding: 11px 8px 0px 10px; */
    padding : 12px 12px 0px 12px;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border-radius: 3px;
    margin-bottom: 15px;
    height : 500px;
    width : 100%
}

.no_data_cust360_border {
    border: 0;
    height: auto;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,1);
    border-radius: 5px;
    background-color: lightgrey;
    min-height: 500px;
    position: relative;
    margin-bottom: 20px;
}

span.noData_text {
    /* text-align: center; */
    font-size: 22px;
    margin-left: 30%;
    vertical-align: middle top;
    margin-top: 10%;
}


.pr_table_show h3 {
    text-align: left;
    padding: 8px 15px;
    margin: 0 1%;
    background: #f57921;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.sticky-table, .sticky-table * {
    border: 0;
}

.product_content h3 {
    margin: 0;
    font-size: 22px;
    font-weight: 500;
    padding: 10px 0 20px;
    display: inline-block;
    color: #303548;
}


select#compny_data {
    width: 100%;
    border: 1px solid #ddd;
    height: 35px;
    padding: 5px;
    border-radius: 3px;
    max-width: 120px;
    font-size: 13px;
    background: none;
    float: right;
}

.cust360_border {
    border: 0;
    height: auto;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,1);
    border-radius: 5px;
    background-color: white;
    min-height: 500px;
    position: relative;
    margin-bottom: 20px;
}

.svg-container .main-svg {
    background-color: transparent !important;
}

.cust360_text_data {
    font-size: 14px;
    font-weight: 500;
}

.cust360_table_display {
    max-height: 400px;
    overflow-x: none;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
}

.cust360_export_btn{
    background: #f57921;
    border-radius: 5px;
    float:right;
    font-size:13px;
}

.cust360_filter_border{
    display: inline-block;
    border:  none;
    background-color: white;
    /* margin-top: 0px; */
    padding-top: 20px;
    width: 32%;
    margin-left: 10px;
}

select.dropdown_reports {
    width: 108%;
    border: 1px solid #ddd;
    padding: 2px;
}

.cust360_report_btn {
    border: 0;
    background: #f57921;
    border-radius: 3px;
    width: 100px;
    color: white ! important;
    font-size: 14px;
    padding: 10px;
    font-weight: 400;
    line-height: 13px;
    transition: all 0.5s;
}

.cust360_report_btn:hover,
.cust360_export_btn:hover {
	background: #ea7c2d;
	color: #fff !important;
}

.filter_box {
    margin-top: 0;
    float: left;
    width: 100%;
}

select#drp>option{
    height: 30px;
}


.cust360_ordr_booking_border {
    display: inline-block;
    border: 1px solid darkblue;
    background-color: white;
    height: 272px;
    /* margin-top: 0px; */
    padding-top: 5px;
    width: 48%;
    float: right;
    margin-top: -109px;
    margin-right: 13px;
}

.cust360_sales_booking_border{
    display: inline-block;
    border: 1px solid darkblue;
    background-color: white;
    height: 272px;
    /* margin-top: 0px; */
    padding-top: 5px;
    width: 48%;
    float: right;
    margin-top: -109px;
    margin-right: 13px;
}

/* Customer 360 Reports Data css ends */
.p_attribute_item_title {
    font-weight: 500 !important;
    font-size: 14px !important;
    color: #505458;
    padding: 10px 15px;
     border-radius: 4px;
}

/* .p_attribute_item_title.first {
    background: linear-gradient(to right, #fe9365, #feb798);  
}

.p_attribute_item_title.second {
    background: linear-gradient(to right, #0ac282, #0df3a3);
}

.p_attribute_item_title.last {
    background: linear-gradient(to right, #fe5d70, #fe909d);
} */

.p_attribute_item_title select {
    border: 1px solid #ddd;
    padding: 7px 5px;l
    font-size: 13px;
    color: #333;
    font-weight: 400;
    border-radius: 2px;
    width: 120px;
}

.main-tableDiv.sticky-table {
	margin-top: 20px;
    /* overflow: inherit; */
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: 4px;
 }

.product__body {
    padding: 0;
    border-bottom: 0;
}

.cust360_text_data h3 {
    padding: 10px 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

.cust360_table_display .table > thead > tr > th {
    border-bottom: 0;
    padding: 5px !important;
    font-size: 13px;
    font-weight: 500;
}

.cust360_table_display .table > tbody > tr > th,
.cust360_table_display .table > thead > tr > td,
.cust360_table_display .table > tbody > tr > td {
    padding: 5px !important;
    font-size: 13px;
}

div#loading-wrapper {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    
}

.loader {
   width: 40px;
  height: 40px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.linksReports{
    font-size: 13px;
    font-weight: 400;
    position: relative;
    float: right;
    margin-top: 6px;
    text-decoration: underline;
    margin-right: 5px;
    cursor: pointer;
    z-index: 11;
}

.graphValues {
    float: left;
    font-size: 11px;
    margin: 7px 0 0 7px;
    font-weight : 500;
    /* margin-bottom: -5px; */
}
.noGraphData {
    position: absolute;
    font-size: 13.5px;
    font-family: verdana;
    font-weight: 500;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:80%;
    color : black;
    height: 60px;
}
.reportTitleData {
    position: absolute;
    font-size: 13.5px;
    font-family: verdana;
    font-weight: 600;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}


.mrq_data{
	    height: 100%;
}

/* .spinner {
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    top: 45%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner > div {
  background-color: #E74D2C;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.spinner .rect6 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
} */


@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.loader_text {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #E74D2C;
    font-weight: 300;
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translate(-50%, -50%);
}

      blink {
        animation: blinker 1.5s linear infinite;
        /* color: #E74D2C; */
       }
      @keyframes blinker {  
        50% { opacity: 0; }
       }
       
        blinkLoaderText {
        animation: blinker 1.5s linear infinite;
        color: #E74D2C;
       }
       
#failureDataCheck{
	display : none;
}     

.disclaimer{
	font-size: 10px;
    font-weight: 400;
    float: letf;
    color: white;
    margin-bottom: 4px;
    margin-left: 11px;

}

.complaint_underline{
	text-decoration: underline;
}  
