/* @media screen and (min-width: 1201px){
    #content {
        margin-left: 0em !important;
    }
}

#content > .inner {

    /*
        This sets an upper limit on your page content to prevent it
        from looking insane on really wide displays. It's currently set
        to the width of the sample post images, but you can change it to
        whatever you like (or remove it entirely).
    */


/* max-width: 1199px !important; */


/* } */

th {
    text-align: center;
    font-size: 16px;
    /* border: 1px solid black;
    padding: 5px;
    background-color: grey;
    color: white; */
}

.bid_page_btn {
    color: white;
    background-color: darkred;
    font-size: small;
    float: right !important;
    font-weight: bold;
    margin: 5px;
}

.proxy_btn {
    color: white;
    font-size: small;
    float: right !important;
    font-weight: bold;
    margin: 5px;
    background-color: darkred;
}

.prodDetails {
    display: none;
    position: absolute;
    margin: 50px;
}

.lockTableRow:hover {
    background-color: lightgrey !important;
    cursor: not-allowed;
}

.lockTableRow {
    background-color: lightgrey !important;
    cursor: not-allowed;
}

.inc-dec-button {
    background-color: darkred;
}

.proxyGradient {
    background-image: linear-gradient(to bottom right, #fc4a1a, #f7b733);
}

#liveCustomersDialog .modal-body {
	overflow: scroll;
	min-height: 100px;
	max-height: 200px;
}

#liveCustomersDialog .modal-content {
	height: 100%;
	width: 70%;
	margin: auto;
}