
.container.product_details_place_order_container {
    margin-top: 20px;
}

.product_details_place_order_container #sidebar {
    color: #fff;
    width: 275px;
	border-radius: 5px;
}



.b-tabs-new__header {
    padding: 10px 10px 0;
    border-bottom: 1px solid #fff;
}

.b-tabs-new__header a {
    display: inline-block;
    width: 49%;
    text-align: center;
    border-bottom: 2px solid transparent;
	transition: all 1s;
}

a.b-tabs-new__tab.active,
#sidebar .b-tabs-new__header a:hover {
    background: none;
    border-bottom: 2px solid #fff;
	font-weight: 500;
}

.b-filter-new__facet {
    padding: 15px 20px;
}

.pretty input {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 1em;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.b-filter-new__facet .pretty.p-default {
    padding: 10px 0;
    margin: 0;
    display: block;
	    white-space: nowrap;
    line-height: 1;
	position: relative;
}

.b-filter-new__facet h4 {
    font-weight: 500;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.pretty .state label {
    position: initial;
    display: inline-block;
    font-weight: 400;
    margin: 0;
    min-width: calc(1em + 2px);
}

.pretty .state label:after, .pretty .state label:before {
    content: '';
    width: calc(1em + 2px);
    height: calc(1em + 2px);
    display: block;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid transparent;
    z-index: 0;
    position: absolute;
    left: 0;
    top: calc((0% - (100% - 1em)) - 8%);
    background-color: transparent;
}

.b-filter-new__facet .pretty .state label {
	font-size: 14px;
    text-indent: 2em;
    color: #fff;
    text-transform: inherit;
}

.b-filter-new__facet .pretty .state label:before {
    border-color: #fff;
}

.b-filter-new__facet .pretty.p-default input:checked~.state label:after {
    background-color: #f4f4f4!important;
 }

.b-filter-new__facet .pretty .state label:after, .b-filter-new__facet .pretty .state label:before {
	top: 10px;
}

.product_details_place_order_container #content {
    width: 100%;
    margin: 0;
    border-radius: 0;
    background: none;
    box-shadow: none;
    padding-top: 0;
}


.product_main_box {
    background: #fff;
    padding: 0px 20px;
    box-shadow: 0 0 10px #ccc;
    border-radius: 5px;
	margin-bottom: 15px;
}

.product_content h1 {
    margin: 0;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 10px;
	margin-left: 3px;
    margin-top: 7px;
    margin-bottom: 0px;
}

.product__header {
    padding: 3px 0 15px;
    font-size: 14px;
    border-bottom: 1px solid #ececec;
    font-weight: 500;
}

.product__body {
    padding: 16px 0 20px;
	border-bottom: 1px solid #ececec;
	/*margin-top: 10px;  */
}

.product_attribute_list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.product_attribute_item {
	display: inline-block;
    font-size: 13px;
    line-height: 16px;
    margin-left: 2px;
    margin-bottom: 10px;
    margin-right: -118px;
    width: 100%;
    max-width: 200px;
    padding-left: 8px;
}

.product_attribute_item {
    display: inline-block;
    font-size: 13px;
    line-height: 14px;
    padding-left: 0;
    margin-bottom: 10px;
    width: 8%;
    margin-right: 0;
    float: left;

}

.p_attribute_item_title {
    color: black;
    overflow: hidden;
    word-break: break-word;
    margin-bottom: 5px;
	font-weight: 400;
    font-size: 13px;
}

select.dropdown_prd {
    width: 100%;
    border: 1px solid #ddd;
    padding: 5px;
    height: 35px;	
}



.p_attribute_item_value {
    position: relative;
    margin-top: 5px;
    font-weight: 600;
    text-overflow: ellipsis;
	color: #777;
}

.cart_attribute_row {
    display: table-row;
    width: 100%;
}

.cart_item_value {
    display: table-row;
}

.product_footer_cart {
    padding: 15px 0 0;
    width: 100%;
    display: table;
}

.cart_attribute_row .cart_item_title, .cart_item_value_txt {
    display: table-cell;
    min-width: 120px;
    font-size: 13px;
    padding: 10px 0;
    padding-right: 10px;
}

.cart_attribute_row .cart_item_title:first-child, .cart_item_value_txt:first-child {
    min-width: 200px;
}


.cart_item_value_txt {
    font-size: 14px;
    font-weight: 500;
}

.c-input-box .c-input {
    max-width: 80px;
    height: 35px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd;
    font-weight: 500;
    border-radius: 0;
}

.item_add-to-cart .c-input-box {
    float: left;
    margin-right: 10px;
}

button.c-btn.add-to-cart-btn {
    border: 0;
    background: #f57921;
    border-radius: 5px;
    height: 35px;
    width: 88px;
	color:white ! important;
}

button.order-Enq-btn.add-to-cart-btn {
    border: 1px solid orange;
    background: #f57921;
    border-radius: 5px;
    height: 30px;
    width: 110px;
    color: white ! important;
    float:left;
	font-size:13px;
	margin-top:6px;
}

.my_enq_btn{
	border: 1px solid orange;
    background: #f57921;
    border-radius: 5px;
    height: 24px;
    width: 90px;
    color: white ! important;
    float:right;
	font-size:13px;
	margin-top:1px;
	margin-left:5px;
}

 .item_add-to-cart button:active {
    background-color: transparent !important;
}

button.c-btn.add-to-cart-btn img {
    max-width: 20px;
}

.facet_search input {
    width: 100%;
    background: #888;
    border: 1px solid #fff;
    height: 35px;
    padding: 5px 30px 5px 5px;
    border-radius: 3px;
}

.facet_search {
    position: relative;
    margin: 15px 0 10px;
}

.search_icon img {
    position: absolute;
    top: 7px;
    right: 7px;
    max-width: 20px;
    opacity: 0.3;
}

ul.breadcrumb {
  padding: 10px 6px;
  list-style: none;
  background-color: #eee;
  margin-bottom : 0px;
}
ul.breadcrumb li {
  display: inline;
  font-size: 14px;
}
ul.breadcrumb li+li:before {
  padding: 2px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}

.remove_Enq_btn{
	max-width: 100%;
	background-color : #f57921;
	color : white;
	border-radius: 5px;
    height: 25px;
	font-size: 14px;
	font-wight : 500;
}

.special_cmt{
    width: 250px;
    height: 100px;
	line-height:200px;
}

.pr_table_display{
	    overflow-y: auto;
		height: auto;
	    max-height: 400px;
		overflow-x: hidden;
}

table.table.table-striped.order
{
    background: #ddd;
    border: 1px solid #ddd;
    margin: 0 0%;
    width: 100%;
}

table.table.table-striped.order th {
	color:white !important ;
	background-color : #f57921 !important;
	font-size :  13px !important;
	font-weight : 500;
	height : 30px !important;
}

table.table.table-striped.order th {
    line-height: 0.5 !important;
	vertical-align: middle !important; 
}

.newCart{
	font-size:20px;
}

.prd_border{
    border: 1px solid darkblue;
    background-color: #eee;
    width: 100%;
    float: left;
    padding: 15px 10px;
}

.customInput{
	width: 65%;
}

.txt_area {
  width: 300px;
  min-height: 100px !important;
  font-size:13px;
  margin-top : -6px !important;
}

i.fa.fa-shopping-cart{
font-size:20px; 
color:black;
}

.compny_data{
	float : right ; margin-top:10px ; width:100px;
	height:22px; font-size:14px;
}
table.table.table-striped.order > tbody > tr > td {
    padding: 8px;
    line-height: 1;
    vertical-align: top;
    font-size: 13px;
}

.text_data{
	font-size:14px;
	margin-top :8px;
	margin-bottom : 1px;
	font-weight : 500;
}
.main-tableDiv.sticky-table {
	overflow-x : hidden !important;
	display: inline !important;
}

@media (min-width: 1400px){
.account-section {
    width: 100% !important;
}
}
.cartbutton_prd_enq{
	background-color: #f57921 !important;
    font-size: 10px;
}

#thkInput, #wdthInput, #lenInput{
   		display: none;
   		margin-bottom: 3px;
    	height: 19px;
    	width: 50%;
}

.delButton{
	cursor: pointer;
}

.product_attribute_item.smallWidth {
    max-width: 80px;
    width: 100%;
}
.smallWidth input {
    max-width: 100%;
    width: 100% !important;
    height: 35px !important;
    border: 1px solid #ddd;
}


#snackBar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: green;
    color: #f1f1f1;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 9999999;
    left: 38%;
    top: 30px;
}


/* Show the snackbar when clicking on a button (class added with JavaScript) */

#snackBar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
	   However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


#myModal {
    display: none;
    position: fixed;
    height: auto;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.modal-header{
	background-color: #f57921;
	color: white;
}

.modal-content{
	width: 100%;
}


.product__body.enquiry_layout.container {
    background: #fff;
    padding: 20px;
    border: 0;
    box-shadow: 0 0 5px #ddd;
    width : 100%;
}

.isDisabled {
  color: currentColor;
  cursor: none;
  opacity: 0.5;
  text-decoration: none;
}

div#feedBackModal {
    position: fixed;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    display: none;
    z-index : 9999;
}

.innerfeedBackModal {
	width: 450px;
    height: 224px;
    background: #fff;
    padding: 20px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.comments-field textarea {
    height: 80px;
    min-height: auto;
    box-shadow: none;
    border-radius: 2px;
}

.modal_btn {
    text-align: right;
}

span.model_close {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
}

span.fa.fa-star.checked {
    color: orange;
}

div#starChecked .fa {
    font-size: 26px;
    padding-left: 15px;
}

.addStarColor{
	color: orange;
}

#feedbackServiceSubmitModal {
    display: none;
    position: fixed;
    height: 100%;
    background: rgba(0,0,0,0.5);
    width: 100%;
    top: 0;
    left: 0;
    transform: inherit;
    z-index: 99999999;
    right: 0;
    bottom: 0;
}

.type_Complaint{
	margin-right: 51%;
}

#internalFeedbackSubmitModal {
    display: none;
    position: fixed;
    height: 100%;
    background: rgba(0,0,0,0.5);
    width: 100%;
    top: 0;
    left: 0;
    transform: inherit;
    z-index: 99999999;
    right: 0;
    bottom: 0;
}

.serviceTypeComplaint{
	display:none;
}

.feedBackColor{
	color : darkgrey;
}

#settlementRemarkModal {
    display: none;
    position: fixed;
    height: 100%;
    background: rgba(0,0,0,0.5);
    width: 100%;
    top: 0;
    left: 0;
    transform: inherit;
    z-index: 99999999;
    right: 0;
    bottom: 0;
}

@media (max-width: 600px){
.collapse .pr_table_show h3,
.page-watchListPage .collapse .pr_table_show h3 {
        position: relative !important;
}
.innerfeedBackModal {
    width: 348px;
    height: 224px;
}
}


@media screen and (min-width: 601px) and (max-width: 736px) {
.pr_table_show h3 {
    text-align: left;
    padding: 8px 15px;
    margin: 0 1%;
    background: #f57921;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}
.collapse .pr_table_show h3,
.page-watchListPage .collapse .pr_table_show h3 {
        position: relative !important;
}}