@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700|Open+Sans+Condensed:300,700");

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav_jsl,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* body.is-preload *,
body.is-preload *:before,
body.is-preload *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
} */


/* body,
input,
textarea,
select {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #565656;
} */

#sidebar_jsl {
    color: rgba(255, 255, 255, 0.55);
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5);
    width: 14em;
    padding: 3em 1.35em 1em 1.15em;
    background: #364050 url("images/bg01.png");
    overflow-y: auto;
    left: 0;
    box_jsl-shadow: inset -0.1em 0em 0.35em 0em rgba(0, 0, 0, 0.15);
    -moz-order: -1;
    -webkit-order: -1;
    -ms-order: -1;
    order: -1;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
}

#sidebar_jsl form input,
#sidebar_jsl form select,
#sidebar_jsl form textarea {
    border: 0;
}

#sidebar_jsl section,
#sidebar_jsl nav_jsl {
    position: relative;
    margin: 2em 0 0 0;
    font-size: 0.9em;
}

#sidebar_jsl section:before,
#sidebar_jsl nav_jsl:before {
    content: '';
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: rgba(0, 0, 0, 0.25);
    box_jsl-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.075), 0px 1px 0px 0px rgba(255, 255, 255, 0.075);
    display: block;
    height: 0.5em;
    margin: 0 0 2em 0;
}

#sidebar_jsl strong,
#sidebar_jsl b {
    color: #fff;
}

#sidebar_jsl a {
    color: #d4dde0;
}

#sidebar_jsl h2,
#sidebar_jsl h3,
#sidebar_jsl h4,
#sidebar_jsl h5,
#sidebar_jsl h6 {
    color: #fff;
}

#sidebar_jsl header {
    margin: 0 0 1.25em 0;
}

@media screen and (min-width: 737px) and (max-width: 1000px) {
    /* Basic */
    body {
        min-width: 641px;
        font-size: 14pt;
    }
    input,
    textarea,
    select {
        font-size: 14pt;
    }
    /* logo_jsl */
    #logo_jsl {
        display: none;
    }
    /* nav_jsl */
    #nav_jsl {
        margin-top: 0 !important;
    }
    #nav_jsl:before {
        display: none !important;
    }
    #nav_jsl li:hover a {
        background: none;
    }
    /* sidebar_jsl */
    #sidebar_jsl {
        padding: 30px 20px 30px 20px;
    }
}

#sidebar_jsl {
    padding: 20px 12px 20px 10px;
    box_jsl-shadow: inset -1px 0 0 0 rgba(255, 255, 255, 0.15), inset -0.1em 0 0.5em 0 rgba(0, 0, 0, 0.25);
}


/* Off-Canvas sidebar_jsl */

@media screen and (max-width: 1000px) {
    /* Basic */
    html,
    body {
        overflow-x: hidden;
    }
    /* Content */
    #content {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        margin-top: 44px;
        margin-left: 0;
        margin-right: 0;
        min-height: 0 !important;
        height: -webkit-fill-available;
    }
    /* sidebar_jsl */
    #titleBar {
        display: block;
    }
    #sidebar_jsl {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        display: block;
        height: 100% !important;
        min-height: 0 !important;
        overflow-y: auto;
        position: fixed;
        top: 0;
        z-index: 10002;
        -moz-transform: translateX(-14em);
        -webkit-transform: translateX(-14em);
        -ms-transform: translateX(-14em);
        transform: translateX(-14em);
    }
    body.sidebar_jsl-visible #content,
    body.sidebar_jsl-visible #titleBar {
        -moz-transform: translateX(14em);
        -webkit-transform: translateX(14em);
        -ms-transform: translateX(14em);
        transform: translateX(14em);
    }
    body.sidebar_jsl-visible #sidebar_jsl {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

* box_jsl */ .box_jsl.calendar_jsl .inner_jsl {
    position: relative;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 0.4em;
    padding: 0.75em 0.5em 0.75em 0.5em;
    box_jsl-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
}

.box_jsl.calendar_jsl caption {
    font-weight: 700;
    color: #fff;
    margin: 0 0 0.25em 0;
}

.box_jsl.calendar_jsl tbody tr:nth-child(2n+2) {
    background: transparent;
}

.box_jsl.calendar_jsl table {
    margin: 0 auto;
}

.box_jsl.calendar_jsl td {
    cursor: default;
    padding: 0.35em 0 0.35em 0;
    border-top: solid 1px rgba(0, 0, 0, 0.25);
    box_jsl-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.075);
    text-align: center;
}

.box_jsl.calendar_jsl th {
    cursor: default;
    padding: 0.35em 0 0.35em 0;
    border-top: solid 1px rgba(0, 0, 0, 0.25);
    box_jsl-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.075);
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.box_jsl.calendar_jsl td a,
.box_jsl.calendar_jsl td span {
    display: block;
    margin: 0 auto;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    line-height: 1.4em;
    border-radius: 0.4em;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    text-decoration: none;
}

.box_jsl.calendar_jsl td a {
    color: #fff;
    font-weight: 700;
}

.box_jsl.calendar_jsl td a:hover {
    background-color: rgba(200, 225, 255, 0.1);
    color: #fff;
}

.box_jsl.calendar_jsl td.today a {
    background-color: #c94663;
    background-image: url("images/bg01.png");
    box_jsl-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.15), 0 0.025em 0.15em 0em rgba(0, 0, 0, 0.25);
    color: #fff !important;
}


/* logo_jsl */

#logo_jsl {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 0.1em;
}

#logo_jsl a {
    display: block;
    background-color: khaki;
    background-image: url("images/bg01.png");
    padding: 0.875em 0.25em;
    border-radius: 0.2em;
    text-align: center;
    box_jsl-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.15), 0 0.025em 0.15em 0em rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 736px) {
    /* Basic */
    body,
    input,
    textarea,
    select {
        line-height: 1.75em;
        font-size: 11pt;
        letter-spacing: 0;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1.5em;
    }
    /* Section/Article */
    section,
    article {
        clear: both;
    }
    /* Button */
    input[type="button"],
    input[type="submit"],
    input[type="reset"],
    button,
    .button {
        display: block;
        width: auto;
        font-size: 1.25em;
        padding: 0.75em 0 0.75em 0;
        margin: 0.5em 0 0.5em 0;
    }
    /* Pagination */
    .pagination .pages {
        display: none;
    }
    /* box_jsl */
    .box_jsl.post {
        padding-bottom: 5em;
        margin-bottom: 4em;
    }
    .box_jsl.post header>p {
        font-size: 1em;
        font-family: 'Source Sans Pro', sans-serif;
        line-height: 1.5em;
    }
    .box_jsl.post .info {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: solid 1px #ddd;
        padding-top: 0.5em;
    }
    .box_jsl.post .info .date {
        display: inline;
    }
    .box_jsl.post .info .date .year,
    .box_jsl.post .info .date .month span {
        display: none;
    }
    .box_jsl.post .info .stats {
        display: inline;
        border-left: solid 1px #ddd;
        margin-left: 0.75em;
        padding-left: 0.75em;
    }
    .box_jsl.post .info .stats li {
        display: inline-block;
        margin-right: 0.85em;
    }
    .box_jsl.post .info .stats li a {
        display: inline-block;
        opacity: 0.5;
    }
    .box_jsl.post .info .stats li a:before {
        position: relative;
        top: 0.1em;
        margin-right: 0.5em;
        opacity: 0.35;
    }
    .box_jsl.post .info .stats li a:active {
        opacity: 1.0;
    }
    /* logo_jsl */
    #logo_jsl {
        display: none;
    }
    /* nav_jsl */
    #nav_jsl {
        margin-top: 0 !important;
    }
    #nav_jsl:before {
        display: none !important;
    }
    #nav_jsl li:hover a {
        background: none;
    }
    /* Content */
    #content {
        margin-top: 44px;
        padding: 3em 20px 2em 20px;
    }
    /* sidebar_jsl */
    #sidebar_jsl {
        padding: 20px 12px 20px 10px;
        box_jsl-shadow: inset -1px 0 0 0 rgba(255, 255, 255, 0.15), inset -0.1em 0 0.5em 0 rgba(0, 0, 0, 0.25);
    }
    /* copyright_jsl */
    #copyright_jsl {
        margin: 2em 0 0 0;
        text-align: center;
    }
    #copyright_jsl p {
        font-size: 0.9em;
        line-height: 2em;
    }
    #copyright_jsl:before {
        height: 0.5em;
        margin: 0 0 2em 0;
    }
}

#nav_jsl>ul>li>ul {
    display: none;
}

#nav_jsl ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
}

#nav_jsl li {
    border-top: solid 1px rgba(0, 0, 0, 0.25);
    box_jsl-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.075);
    padding: 0.5em 0 0.5em 0;
}

#nav_jsl li:first-child {
    border: 0;
    box_jsl-shadow: none;
    padding-top: 0;
}

#nav_jsl li:last-child {
    padding-bottom: 0;
}

#nav_jsl li a {
    display: block;
    padding: 0.4em 1em 0.4em 1em;
    text-decoration: none;
    border-radius: 0.4em;
    outline: 0;
    -moz-transition: background-color .25s ease-in-out, color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out, color .25s ease-in-out;
    transition: background-color .25s ease-in-out, color .25s ease-in-out;
}

#nav_jsl li.current a {
    background-color: rgba(0, 0, 0, 0.15) !important;
    box_jsl-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
    font-weight: 700;
    color: #fff;
}

#nav_jsl li:hover a {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}


/* copyright_jsl */

#copyright_jsl {
    list-style: none;
    padding-bottom: 2em;
    padding-left: 0;
}

#copyright_jsl li {
    padding-left: 0;
}

#copyright_jsl p {
    opacity: 0.75;
}

#copyright_jsl a {
    color: inherit !important;
}

#copyright_jsl:before {
    content: '';
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: rgba(0, 0, 0, 0.25);
    box_jsl-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.075), 0px 1px 0px 0px rgba(255, 255, 255, 0.075);
    display: block;
}


/* Desktop */

@media screen and (min-width: 737px) {
    /* Basic */
    body {
        height: 100%;
        line-height: 1.75em;
    }
    input,
    textarea,
    select {
        line-height: 1.75em;
    }
    h2 {
        font-size: 1.2em;
    }
    h3,
    h4,
    h5,
    h6 {
        font-size: 1em;
    }
    /* Button */
    input[type="button"],
    input[type="submit"],
    input[type="reset"],
    .button,
    button {
        display: inline-block;
        padding: 0.5em 2em 0.5em 2em;
    }
    input[type="button"].small,
    input[type="submit"].small,
    input[type="reset"].small,
    .button.small,
    button.small {
        font-size: 0.85em;
        padding: 0.35em 1.5em 0.35em 1.5em;
    }
    input[type="button"].big,
    input[type="submit"].big,
    input[type="reset"].big,
    .button.big,
    button.big {
        font-size: 1.25em;
        padding: 0.75em 2em 0.75em 2em;
    }
    input[type="button"].huge,
    input[type="submit"].huge,
    input[type="reset"].huge,
    .button.huge,
    button.huge {
        font-size: 1.5em;
        padding: 0.75em 2em 0.75em 2em;
    }
    /* Pagination */
    .pagination {
        padding: 3em 0 0 0;
    }
    .pagination .previous {
        margin-right: 0.6em;
    }
    .pagination .next {
        margin-left: 0.2em;
    }
    .pagination .pages a {
        width: 2.75em;
        height: 2.75em;
        line-height: 2.75em;
    }
    .pagination .button {
        height: 2.75em;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 2.75em;
    }
    /* box_jsl */
    .box_jsl.post .info .stats {
        list-style: none;
        padding-left: 0;
    }
    .box_jsl.post .info .stats li {
        padding-left: 0;
    }
    .box_jsl.post .info .stats li a {
        border-radius: 0.4em;
        opacity: 0.5;
        -moz-transition: opacity .25s ease-in-out, background-color .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out, background-color .25s ease-in-out;
        -ms-transition: opacity .25s ease-in-out, background-color .25s ease-in-out;
        transition: opacity .25s ease-in-out, background-color .25s ease-in-out;
    }
    .box_jsl.post .info .stats li:hover a {
        background-color: #f4f4f4;
        opacity: 1.0;
    }
    /* logo_jsl */
    #logo_jsl {
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 700;
        font-size: 2em;
        letter-spacing: 0.1em;
    }
    #logo_jsl a {
        display: block;
        background-color: khaki;
        background-image: url("images/bg01.png");
        padding: 0.875em 0.25em;
        border-radius: 0.2em;
        text-align: center;
        box_jsl-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.15), 0 0.025em 0.15em 0em rgba(0, 0, 0, 0.25);
        text-decoration: none;
        color: #fff;
    }
    /* Content */
    #content {
        box_jsl-shadow: 0 0 0.25em 0em rgba(0, 0, 0, 0.25);
    }
    #content>.inner_jsl {
        /*
						This sets an upper limit on your page content to prevent it
						from looking insane on really wide displays. It's currently set
						to the width of the sample post images, but you can change it to
						whatever you like (or remove it entirely).
					*/
        max-width: 1138px;
    }
    /* copyright_jsl */
    #copyright_jsl {
        margin: 2em 0 0 0;
        text-align: center;
    }
    #copyright_jsl p {
        font-size: 0.8em;
        line-height: 2em;
    }
    #copyright_jsl:before {
        height: 0.5em;
        margin: 0 0 2em 0;
    }
}