
th {
    text-align: center;
    font-size: 16px;
}

.bid_page_btn {
    float: right !important;
    margin: 5px;
} 

.proxy_btn {
}

#details {
    display: none;
    position: absolute;
    background: #131336;
    color: lightgray;
    padding: 20px;
    width: 100%;
    margin-top: 20px;
    z-index: 1;
}

#item_details:hover+#details {
    display: block;
}