.container {
    width: 100%;
    padding: 0;
}


.mbheader {
    display: none;
}

.main-header {
    width: 100%;
    float: left;
    position: absolute;
    z-index: 99999;
}

.main-header .logo {
    padding: 20px 30px;
    float: left;
}

.top-strip {
    width: 100%;
    float: left;
}

.top-header-list {
    float: right;
    margin: 0 75px 0 0;
    padding: 0;
}

.top-header-list li {
    display: inline-block;
}

  .top-header-list li a {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .top-header-list li a:after {
    content: '\00bb';
    position: relative;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .top-header-list li a:hover {
    padding-right: 8px;
    text-align: left;
    transition: 0.5s;
  } 
  
  .top-header-list li a:hover:after {
    opacity: 1;
    right: 0;
  }


/* .menu-header {
    width: 100%;
    float: left;
    height: 107px;
    background: url(../images/header-bg.png) -31px 0 no-repeat;
    background-size: 120% 107px;
    position: relative;
}
 */
/* .logo {
    margin: 28px 0 0 12%;
    display: inline-block;
    vertical-align: middle;
}
 */
 
 /* .logo {
    margin: 17px 30px 15px 125px;
    display: inline-block;
    vertical-align: middle;
}
  */
 
.logo img {
    max-width: 180px;
    display: block;
}

.navigation {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10%;

}

.main-header .menu-header {
    background: #fff;
    box-shadow: 0 0 10px #666;
    float: left;
    width: 100%;
}

.menu-header .navbar {
    margin-bottom: 0;
 }

.navigation li {
    float: left;
}

.navigation li a {
    color: rgb(51, 65, 65);
    font: 18px 'roboto';
    display: block;
    padding: 10px 20px;
    font-weight: 400;
}

.navigation>li>a {
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.navigation>li>a:before {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    transform: skewX(15deg) scaleX(0);
    transform-origin: center;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: all 600ms ease;
}

.navigation>li:hover>a:before {
    opacity: 1;
    visibility: visible;
    transform: skewX(15deg) scaleX(1);
}

.navigation>li:hover .main-dropdown {
    display: block;
}

.main-dropdown {
    width: 100%;
    position: absolute;
    /*min-height:360px; */
    display: none;
    left: 0;
    right: 0;
    background: -webkit-linear-gradient(#171717, rgba(0, 0, 0, 0.68));
    background: -ms-linear-gradient(#171717, rgba(0, 0, 0, 0.68));
    background: -moz-linear-gradient(#171717, rgba(0, 0, 0, 0.68));
    background: -o-linear-gradient(#171717, rgba(0, 0, 0, 0.68));
    background: linear-gradient(#171717, rgba(0, 0, 0, 0.68));
    /*background:url(../images/dropdown-bg.png) center no-repeat; background-size:cover; */
    z-index: 999;
}

.drop-container {
    width: 100%;
    float: left;
    padding: 15px;
}

.drop-container .drop-1st-header {
    width: 100%;
    background: linear-gradient(to right, rgba(35, 35, 35, 1.00), rgba(255, 255, 255, 0.66));
    float: left;
}

.drop-container .drop-1st-header .menu-filter {
    padding: 10px 10px 0;
    width: 100%;
    float: left;
}

.drop-container .drop-1st-header .menu-filter2 {
    padding: 10px 10px 0;
    width: 100%;
    float: left;
}

.drop-container .drop-1st-header .menu-filter li {
    margin-right: 1px;
}

.drop-container .drop-1st-header .menu-filter2 li {
    margin-right: 1px;
}

.drop-container .drop-1st-header .menu-filter li a {
    cursor: pointer;
    color: #fff;
}

.drop-container .drop-1st-header .menu-filter2 li a {
    cursor: pointer;
    color: #000;
}

.current {
    background: #fff;
    color: #000 !important;
    font-weight: 600 !important;
}

.drop-container .drop-1st-header>.menu-filter>li>a:hover {
    background: #fff;
    color: #000;
}

.show-drop1,
.show-article-drop1,
.show-drop3,
.show-media-drop1,
.applicationShow {
    width: 100%;
    float: left;
    background: #D8D8D8;
    position: relative;
    left: 50%;
    margin-left: -50%;
}

.drop-2nd-header {
    width: 100%;
    float: left;
    padding: 0 0 0 0px;
    border-bottom: 1px solid #3B3B3B;
}

.final-menu-showcase {
    width: 100%;
    left: 0;
    right: 0;
    float: left;
}

.menu-filter li a {
    position: relative;
    cursor: pointer;
    font-size: 13px;
}

.menu-filter2 li a {
    position: relative;
    cursor: pointer;
    font-size: 13px;
}

.active-dropmenu {
    font-weight: 600 !important;
}

.active-dropmenu:after {
    content: '';
    display: block !important;
}

.drop-2nd-header .show2nd-drop:hover {
    font-weight: 600;
}

.drop-2nd-header .show2nd-drop:after,
.ptjsi:after,
.jshl:after,
.jcl:after,
.jusl:after,
.stainless:after,
.application:after,
.products:after {
    content: '';
    border-top: 6px solid #1F1F1F;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    bottom: -9px;
    left: 50%;
    margin-left: -3px;
    display: none;
}

.drop-2nd-header .show2nd-drop:hover:after,
.ptjsi:hover:after,
.jshl:hover:after,
.jcl:hover:after,
.jusl:hover:after,
.stainless:hover:after,
.application:hover:after,
.products:hover:after {
    display: block;
}

.drop-2nd-header .menu-filter li a:hover {
    font-weight: 600 !important;
}

.dropMenuFilter {
    width: 100%;
    float: left;
}

.dsection {
    width: 100%;
    float: left;
    padding: 10px 30px;
}

.dsection .inner-dsection {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
}

.dsection .inner-dsection h5,
.dsection .inner-dsection h5 a {
    font: 16px 'roboto';
    text-align: left;
    text-decoration: underline;
    font-weight: 600;
    margin-bottom: 6px;
    padding: 0;
    color: #7A7A7A;
}

.dsection .inner-dsection ul li {
    float: none;
    text-align: left;
}

.dsection .inner-dsection ul li a {
    padding: 3px 5px;
    font-size: 14px;
    transition: all 300ms linear;
    display: inline-block;
}

.dsection .inner-dsection ul li a:hover {
    padding-left: 10px;
}


/*-----------single menu-----------*/

.single-menu {
    width: 100%;
    float: left;
}

.article-sec {
    width: 100%;
    float: left;
    padding: 20px;
}

.article-sec img {
    width: 300px;
    display: block;
    height: 150px;
    float: left;
}

.article-sec article {
    float: left;
    margin-left: 30px;
    width: 60%;
}

.article-sec article h4 {
    font-size: 18px;
}

.article-sec article p {
    font-size: 14px;
    color: #7a7a7a;
}

.article-sec article p a {
    font-size: 12px;
    padding: 0;
    display: inline-block;
    color: #F5821F;
}

.article-sec article p a:after {
    content: '\25B8';
    margin-left: 3px;
}

.article-sec article p a:hover {
    color: #7a7a7a;
}


/*-----------single menu-----------*/


/*-----------single menu 2-----------*/

.single-menu2,
.single-menu3,
.single-menu4,
.single-menu5,
.single-menu6 {
    float: left;
    width: 100%;
    position: relative;
    left: 50%;
    margin-left: -50%;
}

.drop-2nd-header .menu-filter {
    padding: 10px 10px 0;
    width: 100%;
    float: left;
}

article .list li {
    float: none;
    margin-bottom: 5px;
}

article .list li a {
    padding: 0;
}

article .list li a:hover {
    color: #760001;
}


/**************scroll Down------------*/

.scrollDown {
    position: absolute;
    top: 480px;
    left: 50%;
    margin-left: -40px;
    cursor: pointer;
    -webkit-animation: scroll 3s infinite;
    animation: scroll 2s infinite;
    z-index: 9999;
}

@-webkit-keyframes scroll {
    25% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(10px);
    }
    75% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes scroll {
    25% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(10px);
    }
    75% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
    }
}

.scrollDown img {
    width: 80px;
    height: auto;
}


/*******social media********/

.social-media {
    position: fixed;
    left: 0;
    bottom: 23%;
    z-index: 999;
    width: 39px;
    margin: 0;
    padding: 0;
}

.social-media .left-sticky-h {
    margin-bottom: 40px;
}

.social-media .left-sticky-h img {
    width: 100%;
}

.social-media li {
    width: 100%;
    float: left;
    margin: 2px 0;
    background: lightblue;
    padding-left: 0;
}

.social-media li a {
    width: 100%;
    display: block;
    padding: 7px 10px;
    background: black;
    color: #fff;
    font-size: 18px;
    transition: all 400ms;
}

.social-media li:hover a {
    margin-left: 7px;
    color: #E58700;
}


/***********enquiry form***********/

.mb-enq-btn {
    display: none;
}

.enq-btn a {
    background: #FF7600 !important;
}

.form-overlay {
    position: fixed;
    z-index: 999999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

.enquiry-form {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -146px 0 0 -150px;
}

.enq-close {
    color: #C30003;
    float: right;
    padding: 6px;
    background: #f0f0f0;
    cursor: pointer;
}

.enq-close:hover {
    color: #2B2B2B;
}

.enq-close i {
    margin-right: 0;
}

.query-form {
    width: 100%;
    padding: 20px 10px 10px;
    background: -webkit-linear-gradient(#F0F0F0, #535353);
    background: -o-linear-gradient(#F0F0F0, #535353);
    background: -moz-linear-gradient(#F0F0F0, #535353);
    background: -ms-linear-gradient(#F0F0F0, #535353);
    background: linear-gradient(#F0F0F0, #535353);
    float: left;
}

.query-form ul li {
    width: 100%;
    float: left;
    margin-bottom: 4px;
}

.query-form ul li input,
.query-form ul li textarea {
    width: 100%;
    outline: none;
    padding: 8px;
    font-family: arial;
}

.query-form .submit {
    background: #ff7600;
    color: #fff;
    border: 0;
    cursor: pointer;
}

.query-form .submit:hover {
    background: #000;
}

.toggleUp {
    right: 0 !important;
}


/********Enquiry Form end*************/


li.loginExisting {
    position: relative;
}

.loginExistingDiv {
    background: #fff;
    width: 250px;
    padding: 20px;
    position: absolute;
    top: 63px;
    right: 0;
    z-index: -1;
    display: none;
    box-shadow: 0px 2px 5px #666;
}


/* .loginExistingDiv:before {
    content: "";
    position: absolute;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: -9px;
    right: 45px;
    box-shadow: -1px -1px 3px -1px #666;
    transform: rotate(45deg);
    width: 20px;
    height: 20px;
} */

.top-header-list .forgotten-password a {
    background-color: transparent !important;
    color: #337ab7 !important;
    border: none !important;
    font-weight: 600 !important;
    padding: 0 !important;
}

.top-header-list .forgotten-password  a:hover {
	padding: 0 !important;
	transition: 
}

.top-header-list .forgotten-password  a:hover:after {
	display: none !important;

}

.top-header-list li .forgotten-password  a:after {
 display: none !important;
  }

#colorbox, #cboxOverlay, #cboxWrapper {
	z-index: 999999 !important;
}

#cboxClose {
	z-index: 999999 !important;
}


header {
    margin: 0;
}

.nav__left.js-site-logo {
    display: none;
}

.login-section .control-label {
    font-size: 13px;
    text-transform: inherit;
    margin-bottom:10px;
    display: block;
}

.login-section input {
	box-shadow: none;
}


.login-section  .form-group {
    margin-bottom: 5px;
}


.login-section .login-form-action {
    margin-top: 15px;
    padding: 0;
}

.menu-header .navigation>li>a {
	padding: 30px 20px;
}