.wrapper {
    width: 100%;
    float: left;
    min-height:480px !important;    
}

.main-header {
    position: relative;
    z-index: 1;
  
}

.main-header .menu-header {
	  height: auto;
}


.right-sticky {
    width: 100px;
    position: fixed;
    right: 0;
    bottom: 30%;
    z-index: 999;
}

.left-sticky {
    position: fixed;
    left: 0;
    bottom: 3%;
    width: 70px;
    z-index: 999;
}

.right-sticky img {
    width: 100%;
    height: auto !important;
    display: block;
    background: #fff;
    margin-bottom: 15px;
}

.left-sticky1 {
    position: fixed;
    width: 100px;
    left: auto;
    right: 0;
    bottom: calc(41% + 120px);
    z-index: 999999;
}

.left-sticky1 a {
    width: 100%;
    float: left;
    display: block;
    /*border:2px solid #f6811d; */
    background: #f6811d;
}

.left-sticky1 img {
    width: 100%;
    display: block;
    /* margin:0 auto 3px;*/
}

.left-sticky1 a span {
    width: 100%;
    float: left;
    padding: 5px;
    text-transform: uppercase;
    background: #fff;
    color: #f6811d;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}

.box-hovt {
    position: fixed;
    right: -100%;
    bottom: 30%;
    z-index: 99999999;
    /*display:none;*/
}

.box-hovt .close-box {
    width: 27px;
    position: absolute;
    left: -27px;
    background: #000;
    padding: 5px;
    display: none;
}

.box-hovt .close-box img {
    width: 100%;
    display: block;
}


/*.left-sticky:hover .box-hovt{display:block !important;right:11%;}*/

.box-hovt1 {
    right: 10.6%;
}

.left-sticky img {
    width: 100px;
    display: block;
}

html {
    height: 100%;
}

body {
    background-color: #000000 !important;
    background-image: url(images/banner2.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom {
    width: 100%;
    float: left;
    padding: 5px 30px;
    background: #ff7500;
    background: -webkit-linear-gradient(right, #de4b00, #ff7500, #ff5600, #ff7500);
    background: -moz-linear-gradient(to left, #de4b00, #ff7500, #ff5600, #ff7500);
    background: -ms-linear-gradient(to left, #de4b00, #ff7500, #ff5600, #ff7500);
    background: -o-linear-gradient(to left, #de4b00, #ff7500, #ff5600, #ff7500);
    background: linear-gradient(to left, #de4b00, #ff7500, #ff5600, #ff7500);
    text-align: center;
}

.bottom p {
    float: left;
    color: #fff;
    font-size: 12px;
    margin-top: 7px;
}

.social-links {
    display: inline-block;
    vertical-align: middle;
    margin-top: 2px;
    position: relative;
    float: left;
    margin-left: 13%;
}

.footer-mid {
    display: inline-block;
    position: relative;
    float: left;
}

ul,
li {
    list-style: none;
}

.footer {
    width: 100%;
    float: left;
    position: absolute;
    bottom: 0;
    z-index: 99;
}

.social-links ul li {
    display: inline-block;
    margin: 0 5px;
}

.social-links ul li a {
    font-size: 16px;
    background-color: #fff;
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: block;
    color: #c54600 !important;
}

.footer-mid {
    display: inline-block;
    position: relative;
    float: left;
}

.footer-mid ul li {
    display: inline-block;
    vertical-align: middle;
}

.footer-mid a {
    color: #fff;
    background: #c54600;
    padding: 5px;
    display: block;
}

.footer-mid ul li {
    display: inline-block;
    vertical-align: middle;
}

#black-bg {
    display: none;
}

#myBoxId {
    display: none;
}

#slidecaption {
    position: absolute;
    bottom: 10%;
    z-index: 99;
    width: auto;
    left: 5%;
    background: rgba(0, 0, 0, 0.65);
}

#slidecaption div {
    padding: 15px;
    color: #fff !important;
    font-weight: 100 !important;
    font-size: 28px !important;
}

#slidecaption h4 {
    color: #fff;
    font-weight: 600;
    text-shadow: 0 1px 2px #000000;
    font-size: 34px !important;
    margin-bottom: 10px;
    line-height: 32px;
}

#supersized {
    height: 600px !important;
}

#supersized img {
    height: 700px !important;
}

.fullwidth {
    width: 100%;
    float: left;
    position: relative;
}

.bred-crumb {
    position: absolute;
    left: 17%;
    top: 10px;
}

.bred-crumb li {
    display: inline-block;
    vertical-align: middle;
    color: #272727;
    font-size: 13px;
}

.bred-crumb li a {
    color: #D95100;
}

.bred-crumb li a:hover {
    color: #272727;
}

.bred-crumb li a i {
    font-size: 17px;
}

.footer__top {
    padding-top: 80px;
}

footer .container {
    width: 1024px;
}



.row {
    width: 100%;
    float: left;
}

.fullwidth .overview-text {
    width: 80%;
    float: left;
    margin: 0px 10%;
}

.fullwidth .overview-text h1 {
    color: #1F1F1F;
    margin-bottom: 10px;
    text-align: center;
}

.fullwidth .overview-text p {
    color: #7A7A7A;
    font-size: 13px;
}

.fullwidth .overview-text>p>a {
    color: #000;
    text-decoration: underline;
}

.fullwidth .overview-text>p>a:hover {
    color: #F5821F;
    text-decoration: none;
}

#bbg {
    background: url(images/bbg.jpg) 0 0 no-repeat fixed;
    background-size: cover;
}

.box-container {
    width: 100%;
 	margin: 100px 0 20px;
    text-align: center;
    padding: 20px 0 30px;
}

.box-container h1 {
    color: #fff;
    padding-bottom: 5px;
}

.box-container .app-box {
    width: 300px;
    height: 350px;
    display: inline-block;
    vertical-align: top;
    background: #fff;
    margin: 10px;
    padding: 10px;
    position: relative;
}

.app-box img {
    width: 100%;
    display: block;
}

.app-box h4 {
    color: #1F1F1F;
    padding: 10px;
    margin-bottom: 0;
    font-weight: bold;
}

.app-box p {
    font-size: 13px;
    color: #2E2E2E;
    line-height: 17px;
}

.app-box a.read_more {
    background: #f57921;
    color: #fff;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 25px !important;
    font-size: 12px;
    position: absolute;
    bottom: 2px;
    left: 50%;
    width: 100%;
    max-width: 125px;
    transform: translate(-50%, -50%);
}

.app-box a.read_more:hover {
	background: #949599;
	color: #fff;
}


.app-box a:hover {
    color: #7B0002;
    text-decoration: none;
}

.media {
    width: 100%;
    float: left;
    text-align: center;
}

.media h1 {
    color: #171717;
    margin-bottom: 20px;
}

.media .mediabox {
    width: 30%;
    color: #c8c8c8;
    margin: 0 5px;
    padding: 10px;
    background: #1b1b1b;
    font-size: 11px;
    display: inline-block;
    align-items: center;
    position: relative;
}

.media .mediabox span {
    padding: 10px;
    border-top: 1px solid #f00;
    position: absolute;
    background: #3C3C3C;
    color: #fff;
    top: -15px;
    left: 30px;
    border-radius: 3px;
    text-align: center;
    font-family: arial;
}

.media .mediabox img {
    width: 180px;
    height: 150px;
    float: left;
    margin-right: 3%;
    border-radius: 5px;
}

.media-text {
    float: left;
}

.media .mediabox p {
    max-width: 166px;
    line-height: 15px;
    text-align: left;
}

.media-text h3 {
    font-size: 12px;
}

.media-text p a {
    color: #fff;
    padding-left: 3px;
    font-size: 14px;
    -webkit-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.media-text p a:hover {
    padding-left: 6px;
    text-shadow: 2px 3px 0px #000;
}

#social-bg {
    background: -webkit-linear-gradient(#272727, #5F5F5F, #272727);
    background: -ms-linear-gradient(#272727, #5F5F5F, #272727);
    background: -moz-linear-gradient(#272727, #5F5F5F, #272727);
    background: -o-linear-gradient(#272727, #5F5F5F, #272727);
    background: linear-gradient(#272727, #5F5F5F, #272727);
    padding: 30px;
}

#social-container {}

.social-box {
    width: 300px;
    display: inline-block;
    height: 365px;
    margin: 0 5px 10px;
    overflow: hidden;
    padding: 10px;
    background: -webkit-linear-gradient(#fff, #5A5A5A);
    background: -moz-linear-gradient(#fff, #5A5A5A);
    background: -o-linear-gradient(#fff, #5A5A5A);
    background: -ms-linear-gradient(#fff, #5A5A5A);
    background: linear-gradient(#fff, #5A5A5A);
}

.social-box img {
    width: 100%;
    display: block;
}

.social-box h3 {
    color: #292929;
    margin: 10px 0;
    font-weight: 400;
}

.social-box h3 i {
    margin-right: 5px;
}

.social-box p {
    margin: 15px 0 20px;
    color: #fff;
    font-size: 14px;
}

.social-box a {
    color: #B5B5B5;
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, 0.53);
    padding: 6px;
}

.social-box a:hover {
    color: #111111;
    border: 1px solid rgba(0, 0, 0, 0.53);
}

.loc-map {
    width: 100%;
}

.loc-map h1 {
    text-align: center;
    margin-bottom: 10px;
}


/*********inside*************/

.banner {
    width: 100%;
    float: left;
}

.banner img {
    width: 100%;
    display: block;
}

.slider img {
    width: 100%;
    height: 600px;
    display: block;
}

.text-container {
    margin: 0 15%;
    float: left;
    width: 70%;
}

#career-text-container {
    width: 97%;
    margin: 0 0 0 5%;
}

#career-text-container .side-menubox {
    width: 10%;
}

#career-text-container .textbody {
    width: 85% !important;
}

#career-text-container .textbody iframe {
    width: 103%;
    margin-left: -1.5%;
}

.textbody {
    width: 70% !important;
    min-height: 300px;
    margin: 0 0 0 30px !important;
    background: #f1f1f1;
    padding: 20px 30px;
}

.textbody h1 {
    text-transform: uppercase;
}

.textbody p {
    margin-bottom: 10px;
}

.list {
    padding: 10px 0 20px;
}

h4,
h5 {
    color: #131313;
}

.list li {
    color: #7A7A7A;
    font-size: 13px;
    position: relative;
    padding-left: 17px;
}

.list li:before {
    content: '\2192';
    position: absolute;
    left: 0;
}

.RSImg {
    width: 49%;
    margin: 20px 0;
}

.RSImg img {
    width: 100%;
    display: block;
}

.display-inline {
    display: inline-block;
    vertical-align: bottom;
}

.side-menubox {
    position: relative;
    float: left;
    width: 20%;
}

.side-menu {
    float: left;
    width: 100%;
}

.mbside-menu {
    display: none;
}

.side-menu li {
    /*background:linear-gradient(to right, #000, #5A5A5A);*/
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08) inset;
}

.side-menu li a {
    display: block;
    color: #4D4D4D;
    font-size: 12px;
    padding: 10px 5px;
    text-transform: uppercase;
}

.side-menu li:hover a {
    color: #000000;
}

.side-menubtn {
    cursor: pointer;
    margin-bottom: 1px;
    background: url(images/down-arrow.png) 98% center no-repeat;
    background-size: 15px;
}

.side-submenu {}

.side-submenu li a {
    display: block;
    color: #333333;
    font-size: 12px;
    padding: 5px 5px 5px 8px;
    background: #EFEFEF;
    /*border-bottom:1px solid rgba(0,0,0,0.61);
	box-shadow:0 0 30px rgba(0,0,0,0.73) inset;*/
    text-transform: none;
}

.side-submenu li a:hover {
    color: #232323;
    padding-left: 10px;
}

.activesidemenu {
    background: #F5821F !important;
    color: #fff !important;
}


/*---leadership team------*/

.leadership {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #bbb;
}

.leadership:last-child {
    border-bottom: none;
}

.leadership-heading {
    width: 100%;
    float: left;
    margin: 10px 0 20px;
}

.leadership-heading img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    width: 150px;
    border-radius: 5px;
}

.leadership-heading h3 {
    display: inline-block;
    vertical-align: middle;
    color: #7a7a7a;
}

.leadership-heading h3 em {
    font-size: 12px;
    font-style: normal;
}

.leadership-text {
    float: left;
    width: 100%;
}


/*---leadership team------*/

.rightimg,
.leftimg {
    width: 170px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.rightimg {
    float: right;
    margin-left: 10px;
}

.leftimg {
    float: left;
    margin-right: 10px;
}

.justify {
    text-align: justify;
}

.table {
    width: 100%;
    float: left;
    margin: 10px 0;
}

.table table {}

.table table th {
    padding: 6px;
    font-size: 13px;
    color: #EDEDED;
    background: #F5821F;
}

.table table th select {
    border: none;
    background: #fff;
    font-weight: bold;
    padding: 2px;
}

.table table td {
    padding: 6px;
    font-size: 13px;
    color: #7A7A7A;
}

.table table td>div {
    display: inline-block;
}

.drop-2st-header-15-7-17 a {
    color: #000000 !important;
}

.viewMoreBtn:before {
    display: none;
}

.viewMoreBtn a {
    font-size: 13px !important;
    background: #f58220;
    float: left;
    padding: 5px 10px !important;
}


/*-----press release, news, newsletter-----------*/
/* 
.news-letter {
    float: left;
}

.news-letter ul li {
    display: inline-block;
}

.news-letter ul li a {
    display: block;
    padding: 6px 10px;
    font-size: 14px;
    color: #6E6E6E;
    border: 1px solid #6E6E6E;
    cursor: pointer;
}

.news-letter ul li a.active-news {
    background: #939597;
    border: 0px solid #6E6E6E;
    color: #fff;
}

.news-descript,
.newsbox {
    margin-top: 25px;
}

.news-descript .new-table td,
.newsbox .new-table td {
    border-bottom: 1px solid #ccc;
    padding: 15px 25px 5px 0;
}

.news-descript .new-table td a,
.newsbox .new-table td a {
    color: #3A3A3A;
    font-size: 14px;
}

.news-descript .new-table td a:hover,
.newsbox .new-table td a:hover {
    text-decoration: underline;
}
 */
 /* 
.press-letter {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.press-letter figure {
    display: inline-block;
    width: 177px;
    border: 1px solid #ccc;
    text-align: center;
    box-shadow: 5px 100px 95px #888888 inset;
    margin: 0px 5px 15px;
    padding-bottom: 5px;
}

.press-letter figure:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.press-letter figure img {
    padding: 4px;
    width: 100%;
    height: 201px;
}

.press-letter figure a {
    display: inline-block;
    padding: 4px 9px;
    color: #4D4D4D;
    font-size: 14px;
    position: relative;
}

.press-letter figure a:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 1px solid transparent;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    transform: scaleY(0);
}

.press-letter figure a:hover:before {
    border: 1px solid #737373;
    transform: scaleY(1);
}
 */
.bt-gap {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.side-submenu ul li a {
    padding-left: 25px;
    position: relative;
    color: #5C0001;
}

.side-submenu ul li a:hover {
    padding-left: 30px;
}

.side-submenu ul li a:before {
    content: '\2192';
    position: absolute;
    left: 10px;
}

/* 
.table textarea {
    width: 100%;
    min-height: 80px;
    padding: 7px 7px;
}

.table input {
    width: 100%;
    padding: 7px 7px;
}

.table tr td span {
    color: #F5821F;
    margin-left: 2px;
}

.table tr td label {
    color: #F5821F;
}

#submit {
    width: 30%;
    border: none;
    cursor: pointer;
    background: #292929;
    color: #FFFFFF;
    padding: 8px;
    width: inherit;
}

#submit:hover {
    background: #0B0B0B;
}
 */

/*-----------------enquiry, feedback-----------*/


/*--------csr-----*/

.bt-gap p a {
    color: #000;
}

.bt-gap p a:hover {
    color: #7a7a7a;
    text-decoration: underline;
}


/*------*/


/*----------------Media & contact----------*/

/* .contactbox {
    width: 100%;
    float: left;
    margin: 10px 0 0;
}

.contactbox h5 {
    color: #151515;
}

.contactbox i {
    width: 13px;
}

.contacttoggle {
    width: 100%;
    float: left;
    padding: 10px;
    background: #F5821F;
    cursor: pointer;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.69);
    color: #fff;
    font-size: 13px;
}
 */
.showcontact {
    width: 100%;
    float: left;
    padding: 10px;
    background: #fff;
}

.showcontact .contactbox {
    width: 50%;
    min-height: 136px;
}

/* .awards-box {
    width: 100%;
    float: left;
    text-align: center;
}

.awards {
    width: 160px;
    margin: 0 10px 20px;
    vertical-align: top;
}

.awards img {
    width: 100%;
    display: block;
}

.awards a {
    padding: 10px;
    background: #DDDDDD;
    display: block;
    color: #1F1F1F;
    font-size: 13px;
}

.awards:hover a {
    background: #fff;
}
 */

/*----------------Media & contact----------*/
/* 
.sitemap {
    width: 100%;
    float: left;
    text-align: center;
}

.sitemap h1 {
    color: #1F1F1F;
    margin-bottom: 20px;
    text-align: center;
}

.sitemap ul {
    width: 100%;
    float: left;
    text-align: left;
}

.sitemap>ul {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    float: none;
    margin: 0 2%;
}

.sitemap ul li {
    display: table;
    margin: 4px 0;
}

.sitemap ul li a {
    color: #262626;
    font-size: 15px;
    float: left;
}

.sitemap>ul>li {
    margin-bottom: 10px;
}

.sitemap>ul>li>a {
    text-transform: uppercase;
    font-weight: bold;
}

.sitemap ul li:hover>a {
    color: #FF7600;
}

.sitemap h4,
.sitemap h5,
.sitemap h6,
.overview-text .sitemap p {
    color: inherit;
    width: auto;
    display: inherit;
}

.sitemap .d1 h4 {
    color: #878787;
}

.sitemap .d2 h4 {
    background-color: #6f6f6f;
    padding: 3px 5px;
    color: white;
}

.sitemap .d3 h5 {
    font-size: 14px;
    text-decoration: underline;
}

.sitemap .d1 li a {
    padding-left: 20px;
    position: relative;
}

.sitemap .d1 li a:before {
    content: '\27A8';
    position: absolute;
    left: 0;
}

.sitemap .d2 li a:before {
    content: '\27A6';
}

.sitemap .d3 li a:before {
    content: '\279C';
}

.sitemap .d4 li a:before {
    content: '\27A4';
}

.sitemap .d2,
.sitemap .d3,
.sitemap .d4 {
    padding-left: 20px;
    margin-bottom: 5px;
}

.form16-5-17 {
    font-size: 12px;
}

.form16-5-17 td {
    padding: 10px 0px;
}

.form16-5-17 input {
    width: 100%;
    padding: 3px 5px;
}

.form16-5-17 select {
    width: 100%;
    padding: 3px 5px;
}

.form16-5-17 #sub {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    cursor: pointer;
    width: 100px;
    margin-top: 15px;
}

.form16-5-17 textarea {
    margin-bottom: 7px;
    width: 100% !important;
    padding: 3px 5px;
    resize: none;
}
 */

/**************RESPONSIVE STARTS*********************/

/* @media (max-width:1270px) {
    .navigation .menu-filter li a {
        font-size: 14px;
    }
    .media .mediabox p {
        font-size: 10px;
    }
} */

/* @media (max-width:1140px) {
    .menu-header {
        background-position: -50px 0 !important;
        background-size: 137% 107px !important;
    }
    .drop-2nd-header {
        padding: 0 !important;
    }
    .drop-2nd-header .menu-filter li a {
        padding: 10px 5px;
    }
}
 */
/* @media (max-width:1024px) {
    .menu-header {
        background-position: -115px 0 !important;
        background-size: 170% 107px !important;
    }
    .logo {
        margin: 28px 0 0 8% !important;
    }
    .navigation {
        margin-left: 4% !important;
    }
    .navigation>li>a {
        font-size: 14px !important;
        padding: 12px 8px !important;
    }
    .media-text {
        height: 84px;
    }
} */

/* @media (max-width:900px) {
    .main-header {
        display: none;
    }
    .mbheader {
        display: block !important;
        background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0.18), #fff, rgba(255, 255, 255, 0.18));
        background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0.18), #fff, rgba(255, 255, 255, 0.18));
        background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0.18), #fff, rgba(255, 255, 255, 0.18));
        background: -o-linear-gradient(to right, rgba(255, 255, 255, 0.18), #fff, rgba(255, 255, 255, 0.18));
        background: linear-gradient(to right, rgba(255, 255, 255, 0.18), #fff, rgba(255, 255, 255, 0.18));
        width: 100%;
        float: left;
        z-index: 99999;
        position: relative;
    }
    .mblogo {
        width: 200px;
        margin: 10px auto;
    }
    .mblogo img {
        width: 100%;
        display: block;
    }
    .mbnavbar {
        float: left;
        width: 100%;
    }
    .mbnavbar .mbheader-list {
        float: left;
        margin-left: 20px;
    }
    .mbnavbar .mbheader-list li {
        display: inline-block;
        vertical-align: bottom;
    }
    .mbnavbar .mbheader-list li a {
        color: #fff;
        display: block;
        padding: 5px 10px;
        font-size: 20px;
        background: #2D2D2D;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }
    .mbnavbar .mbheader-list li a:hover {
        background: #FFF;
        color: #2D2D2D;
    }
    .mbnavbar .mbheader-list li a i {
        font-size: 25px;
    }
    .mbicon {
        float: right;
        width: 140px;
        cursor: pointer;
        padding: 0 4px;
        background: #000;
    }
    .mbicon img {
        width: 100%;
        display: block;
    }
    .mbmenu {
        width: 100%;
        float: left;
        background: #A23436;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        -moz-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: right;
        -o-transform-origin: right;
        -ms-transform-origin: right;
        -moz-transform-origin: right;
        transform-origin: right;
        -webkit-transition: all 500ms;
        -o-transition: all 500ms;
        -ms-transition: all 500ms;
        -moz-transition: all 500ms;
        transition: all 500ms;
    }
    .mbmenuon {
        -webkit-transform: scaleX(1) !important;
        -ms-transform: scaleX(1) !important;
        -o-transform: scaleX(1) !important;
        -moz-transform: scaleX(1) !important;
        transform: scaleX(1) !important;
    }
    .mbmenu ul li {
        width: 100%;
        float: left;
    }
    .mbmenu ul li a {
        display: block;
        padding: 10px;
        font-size: 13px;
        font-family: fontAwesome, arial;
        color: #fff;
        position: relative;
    }
    .maintab a {
        background: #000;
    }
    .maintab a:after,
    .mbtab1 a:after,
    .mbtab2 a:after,
    .mbtab3 a:after {
        content: '\f107';
        position: absolute;
        right: 10px;
    }
    .mbmenu div {
        width: 100%;
        float: left;
    }
    .mbsubmenu {
        background: #418FAB;
    }
    .mbsubmenu .mbtab1 a {
        background: #2E2E2E;
    }
    .mbsubmenu1 {
        background: #199363;
    }
    .mbsubmenu1 .mbtab2 a {
        background: #6A6A6A;
    }
    .mbsubmenu2 {
        background: #83A438;
    }
    .mbsubmenu2 .mbtab3 a {
        background: #9FA3AB;
        color: #000;
    }
    .mbsubmenu3 ul li a {
        background: #D9D9D9;
        color: #000;
    }
    .mb-enq-btn {
        display: block !important;
    }
    .slider {
        height: 400px;
    }
    #supersized {
        height: 500px !important;
    }
    #supersized img {
        height: 550px !important;
    }
    .scrollDown {
        top: 390px !important;
    }
    #slidecaption div {
        font-size: 23px !important;
    }
    .awards {
        width: 42%;
    }
    .bred-crumb {
        left: 9%;
    }
}
 */
/* @media (max-width:768px) {
    .row {
        padding: 60px 30px 30px;
    }
    .text-container {
        width: 90%;
        margin: 0 5%;
    }
    .side-menubox {
        width: 100%;
        position: relative;
        font-family: fontawesome, arial;
        font-size: 15px;
    }
    .mbside-menu {
        color: #FF7600;
        float: right;
        padding: 5px 10px;
        background: #1A1A1A;
        display: block;
    }
    .mbside-menu i {
        display: inline-block;
        vertical-align: middle;
        font-size: 22px;
    }
    .mbside-menu p {
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
    }
    .side-menubox:before {
        content: '\f0c9 Menu';
        cursor: pointer;
        background: #333333;
        float: left;
        padding: 10px;
        letter-spacing: 4px;
        display: none;
    }
    .side-menu {
        display: none;
    }
    .textbody {
        width: 100% !important;
        margin: 0 !important;
    }
    .sitemap>ul {
        width: 90%;
        margin: 0;
    }
}
 */
/* @media (max-width:720px) {
    .media .mediabox {
        width: 48%;
        margin-bottom: 20px;
    }
    .media .mediabox img {
        float: none;
    }
    .media-text {
        width: 100%;
    }
    .media .mediabox p {
        max-width: 100%;
    }
    .media .mediabox {
        width: 45% !important;
        margin: 10px auto !important;
    }
    .media-text {
        height: auto;
    }
    .showcontact .contactbox {
        width: 48%;
        margin-left: 2%;
    }
} */

/* @media (max-width:660px) {
    .media .mediabox {
        width: 80%;
        margin: 0 0 20px;
    }
    .scrollDown {
        display: none;
    }
    .fullwidth .overview-text h1 {
        font-size: 22px;
    }
}
 */
/* @media (max-width:590px) {
    .awards {
        width: 80%;
    }
    .showcontact .contactbox {
        width: 100%;
    }
    .row {
        padding: 30px;
    }
    .bred-crumb {
        display: none;
    }
    .right-sticky {
        width: 80px;
        top: 49%;
    }
    .left-sticky1 {
        width: 80px;
        top: calc(49% + 80px);
    }
    .box-hovt {
        display: none !important;
    }
}
 */
/* @media (max-width:425px) {
    .slider {
        height: 300px;
    }
    #supersized {
        height: 400px !important;
    }
    #supersized img {
        height: 450px !important;
    }
    .fullwidth .overview-text p {
        text-align: justify;
    }
    .fullwidth .overview-text h1 {
        font-size: 16px;
    }
    .fullwidth .overview-text h4 {
        font-size: 15px;
    }
    .fullwidth .overview-text h5 {
        font-size: 13px;
    }
    .textbody {
        padding: 10px 15px;
    }
    .sitemap>ul {
        width: 100%;
    }
    .media .mediabox {
        width: 85% !important;
        margin: 10px auto !important;
    }
}
 */
/* @media (max-width:375px) {
    .mblogo {
        width: 140px;
    }
    .mbnavbar .mbheader-list li a {
        font-size: 16px;
    }
    .social-media {
        top: auto !important;
        bottom: 10%;
    }
    .slider {
        height: 200px;
    }
    #supersized {
        height: 300px !important;
    }
    #supersized img {
        height: 350px !important;
    }
    #slidecaption {}
    #slidecaption div {
        font-size: 16px !important;
        padding: 10px !important;
    }
    #slidecaption h4 {
        font-size: 20px !important;
    }
    .bottom ul li:nth-child(2) {
        display: none;
    }
    .bottom ul li {
        padding: 10px 5px !important;
    }
    .press-letter figure {
        width: 100%;
    }
}
 */
 
.modal.in .modal-dialog {
    width: 303px;
    margin-right: 93px;
    margin-top: 52px;
}

.errorMsg {
    background-color: white;
    color: red;
    font-weight: bold;
}


/* footer added */

footer {
    width: 100%;
    float: left;
    background: url(images/footer-bg.jpg) round;
    position: relative;
    bottom: 0;
}

.footer-logo {
    position: absolute;
    right: 12%;
    top: 26px
}

.title{
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    text-decoration: underline;
}

.openmodel .modal.fade .modal-dialog {
    width: 303px;
    margin-right: 6px;
    margin-top: 52px;
    transform: translate(0,0);
}

.footer__nav--links li a {
color: grey !important;
}
