* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'latolight';
    src: url('fonts/lato/Lato-Light.eot');
    /* IE9 Compat Modes */
    src: url('fonts/lato/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/lato/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
    url('fonts/lato/Lato-Light.woff') format('woff'), /* Modern Browsers */
    url('fonts/lato/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'latoblack';
    src: url('fonts/lato/Lato-Black.eot');
    /* IE9 Compat Modes */
    src: url('fonts/lato/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/lato/Lato-Black.woff2') format('woff2'), /* Modern Browsers */
    url('fonts/lato/Lato-Black.woff') format('woff'), /* Modern Browsers */
    url('fonts/lato/Lato-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


/* @font-face {
    font-family: 'lato';
    src: url('fonts/lato/Lato-Regular.eot');
    src: url('fonts/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'), 
    url('fonts/lato/Lato-Regular.woff2') format('woff2'),
    url('fonts/lato/Lato-Regular.woff') format('woff'),
    url('fonts/lato/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
} */

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

i {
    font-style: normal;
    font-family: fontAwesome;
}

p,
a,
li,
span {
    font-size: 14px;
}

body {
    font-family: 'lato', sans-serif;
    background: #e2e2e2;
}

.wrapper {
    width: 100%;
    float: left;
    overflow: hidden;
}

.wrapper:before {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.70);
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.navigation {
    width: 100%;
    float: left;
    padding: 10px 5% 0;
}

.logo {
    float: left;
    padding: 0px 0 10px;
}

.logo img {
    width: 180px;
    display: block;
}

.menu {
    float: right;
}

.menu li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    position: relative;
}

.menu li a {
    display: block;
    color: #fff;
    padding: 5px 10px;
    font-size: 16px;
    position: relative;
    -webkit-transition: all 400ms;
    -o-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    transition: all 400ms;
    cursor: pointer;
}

.menu li a.home {
    color: #f5821f;
    font-size: 20px;
}

.menu li:hover>a {
    color: #f5821f;
}

.menu li a:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 2px solid #f5821f;
    -webkit-transform: scaleX(0);
    -o-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -moz-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 400ms;
    -o-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    transition: all 400ms;
}

.menu li:hover>a:before {
    -webkit-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -moz-transform: scaleX(1);
    transform: scaleX(1);
}

.menu li a.login {
    z-index: 1;
    border: 1px solid #E8E8E8;
}

.menu li a.login:before {
    content: '';
    display: none;
}

a.login:hover:before {}

.menu li a.login:hover {
    background: #053c67;
    color: #fff;
    border-color: transparent;
}

.menu li .dropdown {
    width: 200px;
    position: absolute;
    left: 0;
    padding: 10px 0;
    background: #f5821f;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    transition: all 300ms;
}

.menu li:hover .dropdown {
    opacity: 1;
    visibility: visible;
}

.menu li .dropdown li a:hover {
    color: #000;
}


/*-----top search box-------*/

.topSearchFieldContainer {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    display: none;
}

.topSearchField-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.79);
}

.close {
    position: fixed;
    top: 10%;
    right: 5%;
    cursor: pointer;
    z-index: 999;
    opacity: 0.7;
}

.close img {
    width: 50px;
}

.close:hover {
    opacity: 1;
}

.topSearchField {
    position: fixed;
    left: 15%;
    right: 15%;
    top: 50%;
    margin-top: -30px;
    z-index: 9999;
    text-align: center;
}

.topSearchField input {
    width: 88%;
    border: none;
    border-radius: 3px;
    padding: 10px;
    background: #c4c4c4;
    color: #252525;
    outline: none;
    height: 60px;
}

.topSearchField .topSearch {
    width: 100px;
    cursor: pointer;
    background: #ff7500;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

.topSearchField .topSearch:hover {
    background: #E34803;
}

.topSearchField .div-for-search {
    width: 88%;
    height: 150px;
    padding: 10px;
    color: #2A2A2A;
    font-size: 14px;
    background: #fff;
    margin: 1px 0 0 0.5%;
    border-radius: 0 0 3px 3px;
    display: none;
}


/*-----top search box-------*/


/*login-div*/

.login-div {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /*background:rgba(0,0,0,0.37);*/
    z-index: 99999;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(255, 255, 255, 1.00);
    padding: 25px;
    margin-left: -210px;
    margin-top: -204px;
    text-align: center;
    z-index: 99999;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: none;
    border: 1px solid #333333;
}

.active-log {
    background: #f58220;
    color: #fff;
}

.log23 {
    margin-top: -240px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.close-box {
    position: absolute;
    right: 8px;
    cursor: pointer;
    top: 4px;
    color: #3e3e3e;
}

.form-box {
    margin-top: 15px;
}

.input-div {
    position: relative;
    width: 97%;
    margin-bottom: 25px;
}

.input-div-focus {}

.input-div-focus .placeholder {
    -webkit-transform: translate(2px, -20px);
    transform: translate(2px, -20px);
    color: #1B85E8;
    font-size: 13px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.placeholder {
    position: absolute;
    top: 6px;
    left: 8px;
    color: #6d6d6d;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 1;
    font-size: 15px;
}

.input-div input[type=text] {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #f58220;
    padding: 6px;
    outline: none;
    z-index: 9;
    position: relative;
    background: none;
    margin: 2px 5px;
}

.input-div input[type=password] {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #f58220;
    padding: 6px;
    outline: none;
    z-index: 9;
    position: relative;
    background: none;
    margin: 2px 5px;
}

.input-div textarea {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #148832;
    padding: 6px;
    outline: none;
    z-index: 9;
    position: relative;
    background: none;
    margin: 2px 5px;
}

.input-div select {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #148832;
    padding: 6px 0;
    outline: none;
    z-index: 9;
    position: relative;
    background: none;
    margin: 2px 5px;
    color: #6d6d6d;
}

.input-div3 {
    position: relative;
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
}

.input-div3 input[type=submit] {
    width: 30%;
    border: 0;
    padding: 6px;
    cursor: pointer;
    color: #fff;
    background: #545454;
}

.login-box hr {
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 0;
    margin-top: -10px;
}

.login-with-media {
    margin-top: 15px;
}

.login-with-media ul li {
    display: block;
    margin-bottom: 10px;
}

.login-with-media ul li a {
    color: #fff;
    display: inline-block;
    padding: 6px;
    width: 60%;
    vertical-align: middle;
    font-size: 13px;
}

.login-with-media ul li a i {
    padding: 4px 10px;
    border-right: 1px solid #ccc;
    font-size: 15px;
    margin-right: 8px;
}

.login-with-media ul li #face {
    background: #3b5998;
}

.login-with-media ul li #google {
    background: #d34836;
}

.close-login {
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
}

.table-width {
    width: 650px;
    border: 1px solid #ccc;
    border-bottom: 0px solid #ccc;
    border-spacing: 0;
    margin: 45px 0;
    clear: both;
}

.table-width td:first-child {
    border-left: 0px solid #ccc;
}

.table-width td:nth-child(2) {
    text-align: center;
}

.table-width td {
    width: 150px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 6px 10px;
    background: #f9f9f9;
    font-size: 13px;
}

.table-width td p {
    padding-bottom: 5px;
}

.table-width input[type=text] {
    width: 98%;
    padding: 6px;
}

.table-width textarea {
    width: 98%;
    padding: 6px;
}


/*login-div*/

.hm-banner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(https://jsl.local:9002/jslstorefront/_ui/responsive/common/customAssets/images/bannerHome1.jpg) center no-repeat;
    background-size: cover;
    z-index: 1;
}

.hm-banner:before {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.70);
    z-index: -1;
}

.tagline {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    z-index: 9;
}


/*-------searchBox---------*/

.searchBox {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    padding: 10px;
    margin-top: -87px;
    z-index: 9;
}

.inner-searchBox {
    width: 100%;
    float: left;
    padding: 0 5%;
    text-align: center;
}

.inner-searchBox .td {
    width: 23%;
    margin: 1%;
    display: inline-block;
    vertical-align: bottom;
    text-align: left;
}

.inner-searchBox .td label {
    color: #fff;
    width: 100%;
    float: left;
    font-size: 12px;
}

.inner-searchBox .td .select {
    width: 100%;
    padding: 10px;
    outline: none;
}

.inner-searchBox .search {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffa25f;
    background: #f58220;
    cursor: pointer;
    outline: none;
}

.inner-searchBox .search:hover {
    background: rgba(255, 255, 255, 0.50);
}


/* FOOTER */

.footer {
    width: 100%;
    float: left;
    position: absolute;
    bottom: 0;
    z-index: 99;
}

.bottom {
    width: 100%;
    float: left;
    padding: 5px 30px;
    background: #ff7500;
    background: -webkit-linear-gradient(right, #de4b00, #ff7500, #ff5600, #ff7500);
    background: -moz-linear-gradient(to left, #de4b00, #ff7500, #ff5600, #ff7500);
    background: -ms-linear-gradient(to left, #de4b00, #ff7500, #ff5600, #ff7500);
    background: -o-linear-gradient(to left, #de4b00, #ff7500, #ff5600, #ff7500);
    background: linear-gradient(to left, #de4b00, #ff7500, #ff5600, #ff7500);
    text-align: center;
}

.bottom p {
    float: left;
    color: #fff;
    font-size: 12px;
    margin-top: 7px;
}

.social-links {
    display: inline-block;
    vertical-align: middle;
    margin-top: 2px;
    position: relative;
    float: left;
    margin-left: 13%;
}

.social-links ul li {
    display: inline-block;
    margin: 0 5px;
}

.social-links ul li a {
    color: #fff;
    font-size: 16px;
    background-color: #c54600;
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: block;
}

.social-links ul li a:hover {
    background: #1D1D1D;
}

.footer-mid {
    display: inline-block;
    position: relative;
    float: left;
}

.footer-mid ul li {
    display: inline-block;
    vertical-align: middle;
}

.footer-mid ul li spam {
    position: absolute;
    right: 0;
    top: 0px;
    width: 27px;
    bottom: 0;
}

.footer-mid ul li span {
    display: inline-block;
    vertical-align: super;
}

.footer-mid ul li:last-child a {
    padding-bottom: 0px;
    display: inline-block;
    vertical-align: bottom;
}

.footer-mid a {
    color: #fff;
    background: #c54600;
    padding: 5px;
    display: block;
}

.footer-mid a:hover {
    color: #C4C4C4;
}

.footer-mid ul li:hover>.footer-menu {
    visibility: visible;
    transform-origin: bottom;
    -o-transform-origin: bottom;
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    opacity: 1;
    transform: scaleY(1);
    -o-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transition: all 800ms;
    -o-transition: all 800ms;
    -webkit-transition: all 800ms;
    -moz-transition: all 800ms;
    -ms-transition: all 800ms;
}

.footer-menu {
    position: absolute;
    -o-position: absolute;
    -webkit-position: absolute;
    -moz-position: absolute;
    -ms-position: absolute;
    bottom: 25px;
    padding-bottom: 6px;
    width: 160px;
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0);
    -o-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform-origin: bottom;
    -o-transform-origin: bottom;
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
}

.footer-menu ul {
    display: inline-block;
    background: #f96d00;
    padding: 5px 5px;
}

.footer-menu ul li {
    width: 100%;
    line-height: 20px;
    position: relative;
    text-align: left;
}

.footer-menu ul>li>a {
    font-size: 12px;
    width: 100%;
    padding: 0px 4px;
    display: block;
    margin-top: .5px;
}

.ecis {
    float: right;
    margin: 0px 0px 0px 10px;
}

.ecis img {
    width: 25px;
    height: 25px;
    float: left;
}

.ecis p {
    float: left;
    margin-top: 6px;
    font-size: 12px;
}

.button-top {
    display: none;
    background: rgba(0, 0, 0, 0.80);
    position: fixed;
    cursor: pointer;
    right: 10px;
    bottom: 40px;
    color: #FFFFFF;
    font-size: 20px;
    opacity: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    z-index: 9999;
}

.button-top i {
    margin-right: 0;
}

.button-top:hover {
    background: #000;
}


/*-------footer end----*/

.location {
    width: 96%;
    margin: 0 2% 30px;
    float: left;
    background: #949494;
    color: #fff;
    position: relative;
    letter-spacing: 1px;
    transition: all 500ms;
}

.location:hover {}

.location i {
    float: left;
    width: 50px;
    line-height: 37px;
    font-size: 22px;
    border-right: 1px solid #6d6d6d;
    letter-spacing: 0;
}

.location .locationFields {
    float: left;
    width: calc(100% - 50px);
}

.location .locationFields section {
    width: 65%;
    float: left;
}

.location .locationFields section:nth-child(2) {
    width: 35%;
}

.location select,
.locationSubmit {
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    padding: 10px;
    outline: none;
    text-align: center;
    letter-spacing: 2px;
}

.location select {
    color: #000;
    background: rgba(255, 255, 255, 0.56);
}

.locationSubmit {
    background: #f5821f;
    display: block;
    padding: 11px;
    cursor: pointer;
    text-transform: uppercase;
}

.locationSubmit:hover {
    background: #000;
}

.filterType {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    padding: 0 20%;
}

.filterType * {
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    transition: all 500ms;
}

.filterType ul li {
    float: left;
    width: 50%;
    padding: 0 2%;
}

.filterType ul li a {
    display: block;
    font: 32px 'latolight';
    letter-spacing: 2px;
    color: #fff;
    padding: 20px 10px;
    border: 1px solid #fff;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.filterType ul li a:hover {
    color: #212121;
    border-color: #f5821f;
}

.filterType ul li a:before {
    content: '';
    position: absolute;
    right: -100%;
    width: 100%;
    top: 0;
    bottom: 0;
    background: #f5821f;
    z-index: -1;
    transition: all 500ms;
}

.filterType ul li a:hover:before {
    right: 0;
    background: rgba(245, 130, 31, 0.9);
}

.filterType ul li:last-child a:before {
    right: auto;
    left: -100%;
}

.filterType ul li:last-child a:hover:before {
    left: 0;
}

.fullwidth {
    width: 100%;
    float: left;
}


/* CSS from Jindal site - for 3 center images*/

#bbg {
    background: url(https://jsl.local:9002/jslstorefront/_ui/responsive/common/customAssets/images/bbg.jpg) 0 0 no-repeat fixed;
    background-size: cover;
}

.box-container {
    width: 100%;
    float: left;
    text-align: center;
    padding: 20px 0 30px;
}

.box-container h1 {
    color: #fff;
    padding-bottom: 20px;
    margin-top: 190px;
}

.box-container .app-box {
    width: 250px;
    min-height: 300px;
    display: inline-block;
    vertical-align: top;
    background: #fff;
    margin: 0px 5px 10px;
    padding: 10px;
}

.app-box img {
    width: 100%;
    display: block;
}

.app-box h4 {
    color: #1F1F1F;
    padding: 10px;
}

.app-box p {
    font-size: 12px;
    color: #2E2E2E;
}

.app-box a {
    color: #000;
    font-size: 13px;
    text-decoration: underline;
}

.app-box a:hover {
    color: #7B0002;
    text-decoration: none;
}

.right-sticky {
    width: 100px;
    position: fixed;
    right: 0;
    bottom: 30%;
    z-index: 999;
}

.right-sticky img {
    width: 100%;
    height: auto !important;
    display: block;
    background: #fff;
    margin-bottom: 15px;
}

.left-sticky {
    width: 100px;
    position: fixed;
    left: 0;
    bottom: 40%;
    width: 70px;
    z-index: 999;
    background-color: white;
}

.left-sticky img {
    width: 100px;
    display: block;
}


/* CSS for login Modal */

.modal-header h4,
.close {
    background-color: #5cb85c;
    color: white !important;
    text-align: center;
    font-size: 30px;
}

.modal-footer {
    background-color: #f9f9f9;
}

#myModal {
    display: none;
}

#mm {
    margin-top: 150px;
}