## messageSource=classpath:/jslcore/messages/email-orderConfirmation_$lang.properties
#macro( genHtmlBoldFont $text )
<font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif"><b>$text</b></font>
#end
#macro(genHtmlLinkStartTag $url)
<a href="$url"><font color="#666666">
#end
#macro(genHtmlLinkEndTag)
</font></a>
#end
#macro(genHtmlLink $url $textColor $bodyContent)
<a href="$url"><font color="$textColor">$bodyContent</font></a>
#end
#macro(displayNegationForDiscount $priceData)
    #if (${priceData.value} > 0)
    -
    #end
    ${priceData.formattedValue}
#end

<html>
<head>
</head>
<body bgcolor="#ffffff"
    #set ($accountUrl = "${ctx.baseUrl}/my-account/orders")
    #if ( $ctx.order.guestCustomer )
        #set ($orderInfoUrl = "${ctx.baseUrl}/guest/order/${ctx.order.guid}")
    #else
        #set ($orderInfoUrl = "${ctx.baseUrl}/my-account/order/${ctx.order.code}")
    #end
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff"
<tr>
    <td>&nbsp;</td>
</tr>
<tr>
<td align="center" valign="top">
<table width="610" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#fff">
<tr>
<td align="center" valign="top" bgcolor="#FFFFFF">
<table width="570" cellpadding="0" cellspacing="0" border="0" align="center">
<tr>
    <td valign="middle">&nbsp;</td>
</tr>
<tr>
    <td height="30" align="right" valign="middle" bgcolor="#000000">
    </td>
</tr>
<tr>
    <td align="center" valign="middle">
        <font color="#666666" size="2" face="Arial, Helvetica, sans-serif">
        </font>
    </td>
</tr>
<tr>
    <td>&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">
<p style="margin:2px 0"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.getMessage('salutation', ${ctx.title},"Customer")}</b>,</font></p>

<p style="margin:2px 0"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('thankYouForOrder', "", "#genHtmlBoldFont(${ctx.order.code})", "", "#genHtmlBoldFont(${ctx.order.totalPriceWithTax.formattedValue})")}</font></p>


<br/>
    
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#51585c" class="products" style="border: 1px solid #51585c;">
    <tr>
        <td>
            <table>
                <tr>
                    <td width="33%" valign="top" rowspan="2">
                        <font color="#333" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.deliveryAddress}</b></font>
                        #if(${ctx.order.deliveryItemsQuantity} > 0)
                            <p style="margin:3px 0">
                                <font color="#666666" size="2" face="Arial, Helvetica, sans-serif">
                                    ${ctx.title} ${ctx.displayName}<br/>
                                    ${ctx.order.deliveryAddress.line1}<br/>
                                    #if($ctx.order.deliveryAddress.line2.line2 && $ctx.order.deliveryAddress.line2 != '')${ctx.order.deliveryAddress.line2}<br/>#end
                                    ${ctx.order.deliveryAddress.town}<br/>
                                    ${ctx.order.deliveryAddress.postalCode}<br/>
                                    ${ctx.order.deliveryAddress.country.name}
                                </font>
                            </p>
                        #else
                            <p style="margin:3px 0"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.noDelivery}</font></p>
                        #end
                    </td>
                    
                </tr>
            </table>
        </td>
    </tr>
</table>
<br/>
    #if ($ctx.order.deliveryOrderGroups.size() > 0)
    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#51585c" class="products" style="border: 1px solid #51585c;">
        <tr>
            <td>
                #foreach( $orderGroup in ${ctx.order.deliveryOrderGroups} )
                    <table width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="100%" colspan="5" height="30" align="left" bgcolor="#000000"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif" style="padding-left:5px"><b style="text-transform:uppercase;">${ctx.messages.yourDeliveryItems}</b></font></td>
                        </tr>
                        <tr>
							<td width="15%" height="40px"><font color="#333" size="2" face="Arial, Helvetica, sans-serif"><b>&nbsp;Serial No.</b></font></td>
                            <td width="50%" height="40px"><font color="#333" size="2" face="Arial, Helvetica, sans-serif"><b>&nbsp;Product Description</b></font></td>
                            <td width="17%" height="40px"><font color="#333" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.quantity}</b></font></td>
                            <td width="22%" height="40px"><font color="#333" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.itemPrice}</b></font></td>
                            <td width="16%" height="40px"><font color="#333" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.total}</b></font></td>
                        </tr>
                        #foreach( $entry in ${orderGroup.entries} )
                            <tr>
								<td valign="top"><p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">&nbsp;$velocityCount</font></p></td>
                                <td>
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td valign="top">
                                                <p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">
                                                   <font color="#666666"><b>&nbsp;$entry.product.name</b></font>
                                                </p>
                                                #if (!$entry.product.baseOptions.isEmpty())
                                                    #foreach ($option in $entry.product.baseOptions)
                                                        #if ($option.selected && ($option.selected.url == $entry.product.url))
                                                            <table width="100%" cellpadding="0" cellspacing="0">
                                                                #foreach ($selectedOption in $option.selected.variantOptionQualifiers)
                                                                    <tr>
                                                                        <td width="30%" valign="top"><p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">$selectedOption.name:</font></p></td>
                                                                        <td width="70%" valign="top"><p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">$selectedOption.value</font></p></td>
                                                                    </tr>
                                                                #end
                                                            </table>
                                                        #end
                                                    #end
                                                #end
                                                #if (!$ctx.order.appliedProductPromotions.isEmpty())
                                                    #foreach( $promotion in $ctx.order.appliedProductPromotions)
                                                        #set ($displayed = false)
                                                        #foreach ($consumedEntry in $promotion.consumedEntries)
                                                            #if (!$displayed && ($consumedEntry.orderEntryNumber == $entry.entryNumber))
                                                                #set ($displayed = true)
                                                                <p><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif"><b>${promotion.description}</b></font></p>
                                                            #end
                                                        #end
                                                    #end
                                                #end
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="top"><p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">$entry.quantity</font></p></td>
                                <td valign="top"><p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">$entry.basePrice.formattedValue</font></p></td>
                                <td valign="top"><p><font color="#414a4f" size="3" face="Arial, Helvetica, sans-serif"><b>#if($entry.totalPrice.value > 0) $entry.totalPrice.formattedValue #else ${ctx.messages.free} #end</b></font></p></td>
                            </tr>
                        #end
                    </table>
                #end
            </td>
        </tr>
    </table>
    #end
<br/>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#51585c" class="products" style="border: 1px solid #51585c;">
    <tr>
        <td valign="top">
            <table width="100%">
                <tr>
                    <td width="30%">&nbsp;</td>
                    <td width="20%">&nbsp;</td>
                    <td width="50%"><font color="#333" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.orderTotals}</b></font></td>
                </tr>
                <tr>
                    <td valign="top">
                        &nbsp;
                    </td>
                    <td>&nbsp;</td>
                    <td valign="top">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="top" width="45%"><p style="margin: 0"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.subtotal}:</b></font></p></td>
                                <td valign="top" width="10%">&nbsp;</td>
                                <td valign="top" width="45%"><p style="margin: 0"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.order.subTotal.formattedValue}</b></font></p></td>
                            </tr>
                            <tr>
                                <td valign="top"><p style="margin: 0 0 10px 0"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.delivery}:</b></font></p></td>
                                <td valign="top">&nbsp;</td>
                                <td valign="top"><p style="margin: 0 0 10px 0"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>#if(${ctx.order.deliveryCost.value} > 0) ${ctx.order.deliveryCost.formattedValue} #else ${ctx.messages.free} #end</b></font></p></td>
                            </tr>
                            <tr>
                                <td valign="top"><p><font color="#333" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.total}:</b></font></p></td>
                                <td valign="top">&nbsp;</td>
                                <td valign="top"><p><font color="#333" size="3" face="Arial, Helvetica, sans-serif"><b>${ctx.order.totalPriceWithTax.formattedValue}</b></font></p></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.complimentaryClosing}</font></p>

<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.signature}</font></p>
</td>
</tr>
<tr>
    <td>&nbsp;</td>
</tr>
<tr>
    <td align="center" valign="middle">
    </td>
</tr>
<tr>
    <td height="30" align="right" valign="middle" bgcolor="#000000">
       
    </td>
</tr>
<tr>
    <td>&nbsp;</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
<tr>
    <td>&nbsp;</td>
</tr>
</table>
</body>
</html>