//
// Load core variables
// --------------------------------------------------

@import "../../../lib/ybase-0.1.0/less/ybase.less";
@import "../../../lib/ybase-0.1.0/less/addons.less";
@import "variables.less";

  //COLOUR CHNAGE OF .nav__links--products
  .navigation--bottom .nav__links--products {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
  background-color: darkorange;
}
  //FONT UPGRADE OF .nav__links--products 
  .navigation--bottom .nav__links--products li a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  line-height: 10px;
  padding: 20px 15px;
  display: block;
  color: black;
}  
  //LOGO HIGHT CHANGE .banner__component
  //.simple-banner-component img,
  //.banner__component img {
  //width: 100%;
  //height: 30px;
 // }
  
  
  
  .btn {
    padding: 5px !important;
    text-transform: capitalize;
  }
  
  .btn-lg,
.btn-group-lg > .btn {
/* padding: 10px 15px; */
}

.btn-sm,
.btn-group-sm > .btn {
  /* padding: 5px 10px; */
  }
  
  .btn-xs,
.btn-group-xs > .btn {
  /* padding: 1px 5px; */
  }
  
  .input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  /* padding: 10px 15px; */
  }
  
  
  .input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  /* padding: 5px 10px; */
  }
  
  @media screen and (min-width: 1200px){
  .navigation--bottom .nav__links--products li a {
    color: white; 
  	}
  }
  
  .btn {
  /* text-transform: uppercase; */
  /* padding: 10px 15px; */
  border-radius: 3px !important;
}

.btn-default {
  /* border: 3px solid; */
}
.btn-primary {
  /* border: 3px solid; */
  color: white;
}

.navigation--bottom .nav__links--products {
  background-color: #142939 ;
}
 @media screen and (min-width: 1200px){
.navigation--bottom .nav__links--products li a {
  color: white;
	}
}
table th {
        text-transform: capitalize; 
        text-align: center !important;
        background-color: #f57921 !important;
  		color: white !important;
}

table{
text-align: center !important;
}

.responsive-table td:last-child {
  text-align: center;
  padding-right: 30px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
padding: 2px !important;
}

.top-header-list {
    float: right;
    margin-right: 20px;
}

.top-header-list li {
    display: inline-block;
}
.top-header-list li a {
    display: inline-block;
    border-radius: 4px;
    /* background-color: #f5821f; */
    /*background-image: radial-gradient( #f5837f 0% ,yellow 0%, #f5821f 95%);*/
    /* linear-gradient(to bottom right, #f5821f 31%, #f7b733 72%); */
    background-color: #337ab7 !important;
    border: 1px solid #2e6da4 !important;
    color: white !important;
    text-align: center !important;
    font-size: 16px !important;
    padding: 7px !important;
    width: 100% !important;
    transition: all 0.5s;
    cursor: pointer !important;
    margin: 10px !important;
    font-weight:700;
  }
  
  .top-header-list li a {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .top-header-list li a:after {
    content: '\00bb';
    position: relative;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .top-header-list li a:hover {
    //padding-right: 8px;
    text-align: left;
    transition: 0.5s;
  }
  
  .top-header-list li a:hover:after {
    opacity: 1;
    right: 0;
  }

.top-header-list li a {
    /* color: #fff; */
    /* display: block;
    padding: 5px 10px;
    font-size: 10px;
    background: lightgray; */
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); */
}

/* .top-header-list li a:hover {
    color: #2D2D2D;
    background: #fff;
}

.top-header-list li a i {
    font-size: 25px;
} */


@media (max-width: 900px){
.mbnavbar .mbheader-list li a {
    background-color: #337ab7;
    color: white !important;
    font-size: 15px !important;
	}
}

.navigation--top .nav__right .nav__links--account li{
    float: none;
}

.modal-open {
  overflow: scroll !important;
}
.fade {
  opacity: 0;
  /*-webkit-transition: opacity .15s linear; */
   /* -o-transition: opacity .15s linear;*/
    /* transition: opacity .15s linear; */
    /* visibility: hidden; */
}

@media (max-width: 1023px){
.navigation--bottom .nav__links--products li:last-child {
   /* padding-bottom: 50px; */
}
}

@media (max-width: 1023px){
.navigation--bottom.js-enquire-offcanvas-navigation .close-nav {
	display: flex;
    align-items: flex-end;
}
}

@media (max-width: 1023px){
html.offcanvas {
    /* overflow-x: hidden; */
}
}

@media (min-width: 1024px){
.navigationBarAuction{
float:left !important;
}
.navigationBarPD{
float:right !important;
}
.navigationBarReports{
float:right !important;
}
.navigationBarOH{
float:right !important;
}
.navigationBarST{
float:right !important;
}

}

.footer__top{
    padding-bottom: 50px;
    /* padding-top: 50px; */
}

footer{
  margin-top: 0px !important;  
}

@media (min-width: 1024px){
.footer__left__align{
padding-left: 15em !important;
}
.footer__top__align{
padding-top:0px !important;
}
}

.input-group-addon{
  border-radius: 0.2em;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  // border: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  // border-top: 1px solid #e5e5e5;
}


.title {
 color: white; 
 cursor: pointer; 
 font-weight: 700; 
 font-size: 15px; 
 text-decoration: underline;
} 