<%@ tag body-content="empty" trimDirectiveWhitespaces="true" %>
<%@ attribute name="pageData" required="true" type="de.hybris.platform.commerceservices.search.facetdata.ProductSearchPageData" %>

<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>
<%@ taglib prefix="ycommerce" uri="http://hybris.com/tld/ycommercetags" %>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>

<spring:htmlEscape defaultHtmlEscape="true" />

<c:if test="${not empty pageData.breadcrumbs}">

<div class="facet js-facet top-facet-level">

	<div class="facet__name js-facet-name">
	<h2><spring:theme code="search.nav.applied.facets"/></h2>
		
	</div>
		<div class="facet__values js-facet-values">
			<ul class="facet__list facet_list_text">
				<c:forEach items="${pageData.breadcrumbs}" var="breadcrumb">
					<li>
						<c:url value="${breadcrumb.removeQuery.url}" var="removeQueryUrl"/>
					<span>${fn:escapeXml(breadcrumb.facetValueName)}</span><a href="${fn:escapeXml(removeQueryUrl)}" ><span class="lni-close"></span></a>
					</li>
				</c:forEach>
			</ul>
		</div>
	</div>

</c:if>
