.leftNav i.icon.icon-home {
    font-size: 20px;
}

.leftNav i {
    margin-right: 8px;
    font-size: 25px;
    vertical-align: text-bottom;
    margin-left: 8px;
}


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.navigation--bottom .nav__links--primary .sub__navigation {
    top: 56px !important;
}

a.Auction i,
a.ProductEnquiry i {
    padding-right: 2px;
}

.sub-navigation-section i.lni-chevron-right.default-arrow {
    display: none;
}


@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}


.top-head-fixed {
    position: fixed;
    top: -1px;
    z-index: 99;
    left: 0;
    width: 100%;
    background: #fff;
}

ul.nav__links li.liOffcanvas {
    position: relative;
}

a.logout_link {
    padding-left: 10px !important;
}

a.logout_link:before {
    content: "\ea42";
    position: absolute;
    left: -10px;
    font-family: LineIcons;
}

#tncBox article {
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}

#tncBox h2 {
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    margin: 0;
    padding: 10px;
    text-align: left;
}


.page-login #cboxLoadedContent {
    margin-top: 40px;
    padding: 20px;
    background: #fff;
 
}

.forgotten-password .description {
    font-size: 14px;
    line-height: 18px;
}

#forgottenPwdForm label.control-label {
    color: #333;
    font-size: 14px;
    text-transform: inherit;
    font-weight: 500;
}

#colorbox .forgotten-password .btn-primary {
    margin-top: 0;
    width: calc(100% - 20px);
}

#forgottenPwdForm input {
    width: calc(100% - 20px);
}

span.show_only_mobile {
    display: none;
}

/*Responsive Design*/

@media (min-width: 768px) {
	
	.nav_icon {
	display: none;
}

.only-mobile,
.branding-mobile {
	display: none;
}

.mobile-logo.js-site-logo {
    display: none;
}

li.search-icon {
    display: none;
}

li.nav-icon {
    display: none;
}

span.sidebarclose {
    display: none;
}

.footer__bottom div#toTop {
	display: none !important;
}

.searchByDueDate button.btn.btn-primary span {
	display: none;
}

}

@media (max-width: 767px) {
	
.top-head-fixed {
    top: -70px;
 }
 
 .menu-header.top-head-fixed {
    top: 0;
}

.js-site-logo .banner__component {
    margin: 0;
}

.only-mobile {
	display: block;
}

.nav_icon {
    float: left;
    padding: 12px 14px;
}

.nav_icon i.lni-menu {
    font-size: 35px;
}

.nav_icon i.lni-menu.lni-close {
    font-size: 21px;
    padding: 7px 7px;
    display: inline-block;
    font-weight: 700;
}

header.main-header .logo {
    padding: 15px;
 }
	
.menu-header .logo img {
    max-width: 135px;
}


ul.top-header-login {
    margin: 10px 20px;

}


.loginExisting span {
    display: none;
}

.top-header-login li a {
    font-size: 32px;
    padding: 5px;
    color: #2c2d2d;
}

.top-header-login a.btn {
    padding: 8px 20px !important;
    font-size: 15px;
    text-transform: inherit;
}


.forgotten-password a {
    font-size: 12px !important;
 }


.loginExisting .loginExistingDiv {
    top: 61px;
    z-index: 1;
    box-shadow: none;
}

.menu-header .navigation {
    margin-left: 0;
    position: fixed;
    left: -225px;
    bottom: 0;
    box-shadow: 0 2px 5px #666;
    top: 60px;
    background: #fff;
    width: 220px;
    transition: all 0.5s;
}

.nav_open nav.navigation {
    left: 0;
    padding-top: 10px;
}

/* .top-header-login a.btn:hover, .top-header-login a.btn:active, .top-header-login a.btn:focus {
    color: #f57921 !important;
    background-color: transparent !important;
} */


.menu-header .navigation li {
    width: 100%;
}

.top-header-login li {
    display: inline-block;
 
}

.top-header-login li.loginExisting {
	   position: inherit;
}

.main-header .menu-header .navigation>li>a {
    padding: 10px 20px;
    text-transform: inherit;
}

.page-login .box-container {
    margin: 60px 0 20px;
}

footer {
    background: #0c0c0ceb !important;
}

footer .footer__top {
    padding: 30px 25px 20px;
    clear: both;
}
.main-footer .footer__nav--container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    margin-bottom: 20px;
}

.footer__top .title {
    text-decoration: none;
    margin-bottom: 5px;
}

footer .footer__bottom {
    padding: 15px 35px;
}

.page-login .social-media {
    bottom: 50%;
}

.page-login .right-sticky {
    width: 75px;
    bottom: 50%;
    right: -4px;
 
}

/*Auction page */

.branding-mobile {
    display: none;
}

.navigation.navigation--top {
    padding: 0 10px;
    display: none;
}

.navigation--middle .nav__right ul.nav__links--shop_info {
	border-left: 0;
}

.mobile-middle-header li.nav-icon {
    border-right: 1px solid #d9d9d9;
}

.navigation--middle i.lni-menu {
    font-size: 25px;
    color: #949599;
}

.col-sm-12.desktop__nav {
    padding-left: 0;
    padding-right: 0;
}

.col-sm-12.col-md-2.mobile-hide {
    display: none;
}

.mobile-middle-header .mobile-logo {
    width: 30%;
    float: left;
    padding: 18px 5px;
}

.navigation--middle .mobile-middle-header .btn {
    padding: 17px 10px !important;
    color: #949599;
}


.mobile-middle-header ul.nav__links--shop_info {
	width: 100%;

}

.navigation--middle .container-fluid {
    padding: 0;
}

.mobile-middle-header .site-search {
	border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fff;
    max-width: 100%;
    display: block;
    position: absolute;
    top: 60px;
    margin: 0 0px;
    z-index: 11;
    width: 100%;
    right: 0;
    float: none;
    left: 0;
    padding: 15px;
    display: none;
}

.mobile-middle-header .site-search.active {
	display: block;
}

.mobile-middle-header ul.nav__links--shop_info li {
    float: left !important;
    width: 16.5%;
}

.mobile-middle-header.nav__right {
    padding-right: 0;
    padding-left: 0;
}

.mobile-middle-header li.wdt-50 {
	width: 33% !important;
} 

.mobile-middle-header i.icon.icon-magnifier {
    font-size: 24px;
    color: #949599;
}

.navigation--middle .mobile-middle-header .faq .btn {
    padding: 14px 10px !important;

}

li.wdt-50 .yCmsComponent {
    width: 50%;
    float: left;
}

.mobile-middle-header .nav-cart {
    padding: 14px 10px;
    border-left: 1px solid #ddd;
}

.mobile-middle-header .mini-cart-icon span.lni-cart {
    font-size: 35px;
 
}

.nav__right .nav-cart .mini-cart-count .nav-items-total {
    background-color: transparent;
}

.navigation--middle .nav-cart .mini-cart-link .mini-cart-count {
    right: 5px;
    top: 0;
}

.navigation--middle .nav-order-tools, .navigation--middle .nav-location, .navigation--middle .nav-cart {
    height: 60px;
    padding: 0;
    width: 100%;
    min-width: 50px;
}

.nav-order-tools:before {
    top: 0;
    left: 10%;
 
}
.navigation--middle .nav-cart .mini-cart-link .mini-cart-icon {
    height: 60px;
    line-height: 83px;
}

li.search-icon.active {
    background-color: transparent;
}

li.search-icon.active a .icon {
    color: #ef7b28;
}

.myProfileDropdown {
	z-index: 9999;
}

.navigation--bottom .nav__links--products li:last-child {
    padding-bottom: 0;
}

.navigation--bottom .nav__links--mobile li {
    background-color: transparent;
    border-bottom: 1px solid #e5e5e5;
}


.navigation--bottom .nav__links--products li {
    background-color: transparent;

}

.navigation--bottom .nav__links--products li a,
.navbar-right .nav__link a {
    font-size: 14px;
}

 
 .navigation--bottom .nav__links--mobile div.sub-nav a {
    border-bottom: 0;
}

.navigation--bottom .nav__links--products li.liUserSign {
    border-bottom: 0;
}

.navigation--bottom .nav__links--mobile .subNavList li {
    padding: 0;
    background: none;
    border-bottom: 1px solid #e5e5e5 !important;
}

.navigation--bottom .nav__links--mobile .subNavList li:first-child {
    border-top: 1px solid #e5e5e5;
}

.navigation--bottom .nav__links--mobile div.sub-nav a span {
    left: -5px;
    font-size: 16px;
    font-weight: bold;
}


.sticky-nav-top {
    left: 0px;
    width: 100%;
 }
 
 .offcanvas .sticky-nav-top {
 width: 100%;
 }
 
 
 .navigation--bottom li {
    padding: 0;
    border-bottom: 1px solid #e5e5e5;
    list-style: none;
}
 
 .navbar-right .nav__link a {
 	color: #000;
 }
 
 
 .navigation--bottom .userGroup .myAcctUserIcon {
    display: none;
}

.userGroup {
    padding-left: 0 !important;
}

.navigation--bottom .userGroup .userName {
    font-size: 13px;
    font-weight: 500;
    color: #333;
}

span.glyphicon.glyphicon-chevron-up.myAcctExp {
    display: none;
}

.navbar-nav {
    margin: 0;
    padding: 0 !important;
    width: 100%;
}

.navigation--bottom .nav__links--products {
    background-color: #fff;
    padding: 0;
    display: block !important;
     width: 100%;
}

.navigation--bottom {
	position: fixed;
    background-color: #fff;
    box-shadow: none;
    left: -100%;
    top: 130px;
    transition: all 0.5s;
}

.js-userAccount-Links li {
    border-bottom: 1px solid #e5e5e5 !important;
}

.navigation--bottom .nav__links--primary-has__sub .nav__link {
    width: 85%;
}

.navigation--bottom .nav__links--primary-has__sub .nav__link--drill__down {
   font-weight: bold;
    width: 15%;
    text-align: center;
    font-size: 16px;
    color: #333;
}

.col-sm-12.col-md-2.mobile-logo {
    text-align: center;
    padding: 0;
    border-bottom: 1px solid #e5e5e5;
}

.navigation--bottom.open {
    left: 0;
}

main.offcanvas {

    -webkit-transform: translate(0%, 0);
    transform: translate(0%, 0);
}

.navigation--bottom.js-enquire-offcanvas-navigation .close-nav {
    border-right: 0;
}

.userGroup span.lni-chevron-up.myAcctExp {
    display: none;
}

.userName i.icon.icon-user {
    font-size: 20px;
    vertical-align: text-bottom;
    padding: 0 2px 0 10px;
    color: #333;
}

.userName span.line {
	display: none;
}

.myAccountLinksHeader,
.userSign {
	position: relative;
	padding-left: 45px !important;
}

.myAccountLinksHeader:before {
    content: "\e9a4";
    position: absolute;
    left: 16px;
    font-family: lineIcons;
    font-size: 22px;
}

.userSign:before {
    content: "\ea42";
    position: absolute;
    left: 16px;
    font-family: lineIcons;
    font-size: 22px;
    font-weight: 400;
}

.navigation--bottom.js-enquire-offcanvas-navigation .close-nav button span {
    color: #777777;
    font-size: 20px;
    font-weight: bold;
}

.navigation--bottom .nav__links--products li.liUserSign:hover {
    background-color: transparent;
}

.navigation--bottom .nav__links--mobile .subNavList {
    background: #eee;
}

.auctionFooter {
    padding: 10px 0 0;
}

.auctionFooter .footer__top {
    padding: 20px 25px;
}

.auctionFooter .footer__bottom {
    padding: 15px 35px;
}

.auctionFooter .footer__nav--container {
    margin-bottom: 20px;
}

.auctionFooter .footer__top .title {
    margin-bottom: 5px;
}

div#loading-wrapper {
    background: rgba(0,0,0,0.2) !important;

}

.is-collapsed #sidebar {
    width: 230px;
    margin-left: 0;
}

.is-collapsed span.sidebarclose {
    left: 20px;
}

span.sidebarclose {
	position: absolute;
    left: 20px;
    top: 20px;
    width: 35px;
    height: 32px;
    transition: all 0.5s;
    z-index: 11;
    border-radius: 2px;
    background: none;
    border: 1px solid #949599;
    color: #949599;
    padding: 5px 3px;
}

span.sidebarclose .lni-menu {
    line-height: 22px;
    font-size: 26px;
    font-weight: 400;
}

.is-collapsed #nav li a {
    padding: 15px 10px;
    font-size: 15px;
    text-align: left;
    white-space: nowrap;
}

#sidebar {
    margin-left: -230px;
    transition: all 0.5s;
    padding-bottom: 20px;
}

.is-collapsed #content {
    width: 100%;
    float: left;
    margin-right: -100% !important;
    box-shadow: none;
}

.page-auctionHomePage #content,
.page-completedAuctionPage #content,
.page-upcomingAuctionPage #content,
.page-userManualPage #content,
.page-liveAuctionPage #content,
.page-watchListPage #content {
    width: 98%;
    transition: all 0.5s;
    margin: 1%;
    padding: 15px;
}


.box.post .info {
    width: auto;
    background-color: #fff;
    left: auto;
    top: -52px;
    right: 0;
    padding: 12px 15px;
    border: 1px solid #949599;
    border-radius: 25px;
 }

.box.post .info .date {
    font-size: 14px;
    color: #999;
    border-bottom: 0;
    padding: 0;
    margin: 0;
}


 .month {
    font-size: 14px;
    font-weight: 400;
}

.box.post .info .date .day {
    margin: 0 3px;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
 }
 
 span#auction_year {
    font-size: 14px;
    font-weight: 400;
 }
 
 .welcome-font {
    font-size: 19px;
    margin: 0;
    padding: 0 0 20px;
}

a.logobig {
    display: block !important;
}

.is-collapsed h1.auctionlogo {
    max-width: max-content;
}
a.logosmall {
    display: none !important;
}

.is-collapsed .tollfree_no {
    font-size: 13px;
    padding: 10px 2px;
    line-height: 20px;
}

.sidebarclose i.lni-menu.lni-close {
    font-size: 18px;
    padding: 0 4px;
}

.box.post {
    position: relative;
    border-top: 1px solid #ddd;
    margin-top: 50px;
    padding-top: 15px;
}


.page-liveAuctionPage, .page-watchListPage, .page-completedAuctionPage, .page-upcomingAuctionPage {
    overflow: auto;
}

body.offcanvas {
    overflow-y: inherit;
}


.navigation--bottom .nav__links--primary .sub__navigation {
    left: 0 !important;
    top: 0px !important;
    width: 100%;
    position: relative;

}

.navigation--bottom .nav__links--products.active {
    position: relative;
    left: 0;
}

.navigation--bottom .nav__links--primary .sm-back {
    display: none;
}

.navigation--bottom .nav__links--primary .sub-navigation-section .sub-navigation-list {
    display: none;
    border-top: 1px solid #e5e5e5;
}

.navigation--bottom .nav__links--primary .sub-navigation-section .title {
	border-top: 1px solid #e5e5e5;
    border-bottom: 0;
    padding: 8px 15px 8px 25px;
    text-transform: inherit;
    font-size: 16px;
    background: #fbf7f7;
}

.nav__links--primary-has__sub.active > .lni-chevron-right:before {
    content: "\ea45";
}

.sub-navigation-section.active .has-title {
    display: block !important;
}

.sub-navigation-section.active .lni-chevron-right:before {
    content: "\ea45";
}

i.lni-chevron-right.default-arrow {
    content: "\ea46";
    float: right;
    font-size: 16px !important;
    font-weight: bold;
    padding-top: 6px;
    margin-right: 5px !important;
}

.sidebarclose i.lni-construction-hammer {
    font-size: 22px;
    padding: 0 2px;
    position: relative;
    top: -1px;
}

.lni-construction-hammer.lni-close:before {
    content: "\e951";
    font-size: 21px;
    padding: 0 2px;
}

.js-site-logo img {
    height: 33px;
}

#content select#compny_data {
    border-radius: 3px;
    width: 60px;
    height: 32px;
    background: #fff;
}

 .product_content .cust360_main_box {
    border-top: 2px solid #ddd;
    border-radius: 0;
}
 
 .product_content .cust360_main_box {
    background: none;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 15px;
}

.main-tableDiv .cust360_table_display {
    /* overflow-x: auto; */
    box-shadow: none;
}
 
.cust360_main_box .cust360_border {
    box-shadow: 0 0 10px 0 #999;
    overflow: auto;
    border-radius: 3px;
}

.exporttoexcel_btn {
    margin-bottom: 10px;
    border: 1px solid #f57921;
    color: #333;
    font-weight: 400;
}

.completed_top_panel {
    padding: 10px 0;
 }
 
 


.completed_top_panel form br {
    display: none;
}

.completed_top_panel form br + input {
    margin-left: 25px;
    vertical-align: text-top;
}

.completed_top_panel input[type="radio"] {
    margin-bottom: 0;
    margin-right: 5px;
}

.col-sm-12.completed-main-panel,
.col-sm-12.upcoming_main_panel,
.col-sm-12.upcoming_main_panel .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
}

.completed_top_panel input[type="radio"] {
    vertical-align: text-top;
}

.completed_top_panel .container-fluid {
    padding-left: 0;
    padding-right: 0;
}


div#calendar {
    padding: 15px 5px 0;
}

.page-PopPlantReport .product_content h2,
.page-OrderBookingReport .product_content h2 {
    font-size: 20px;
    padding: 10px 0 8px;
 
}


.completed-main-panel button.auction_details_btn {
    width: 100%;
}

.form-group.auction_details_btn {
    text-align: right;
}

.exporttoexcel_btn.btn:hover {
    color: #333 !important;
}

#snackBar {
    margin-left: 0;
    left: 0;
    top: 0;
    width: 100%;
}

#snackBar.show {
	 top: 65px;
	 animation: all 1s !important;
}

.table_auctionData.table-bordered th {
    white-space: nowrap;
}

.nav-order-tools__child-wrap {
    top: 62px;
    right: -14px;
}

.page-PopPlantReport .p_attribute_item_title {
    padding: 10px 0px;
    margin-top: 10px;
 }
 
 
 .page-PopPlantReport .p_attribute_item_title select {
    width: 110px;
    margin-left: 5px;
}

/* .svg-container {
    margin: 0 auto !important;
    width: 100% !important;
    height: 100% !important;
}
 */

.datepicker td, .datepicker th {
    background-color: transparent !important;
    color: #333 !important;
}

.accountFieldDiv {
    margin: 2%;
    width: 96%;
    max-width: 100%;
}

.accountFieldDiv .btn-group-btn .btn {
	padding: 10px !important;
}

.accountFieldDiv label.control-label {
    font-size: 15px;
    margin-top: 5px;
}

.accountFieldDiv input {
    min-height: 38px;
}

.account-section .account-section-content .account-section-header {
    font-size: 20px;
    line-height: 30px;
    padding: 15px;
}

.account-section .account-section-header .account-section-header-add {
    font-size: 13px;
    font-weight: 400;
    border: 1px solid #f57921;
    padding: 7px 15px;
    margin: -5px 0;
    border-radius: 25px;
    line-height: 24px;
    background: #fff;
}

.form-actions .btn-group-btn .btn {
    padding: 10px !important;
}


.account-section-header-add a {
    color: #333;
}

.back-link .label {
    font-size: 22px;
    font-weight: 500;
    padding: 15px 0;
 }
 
 .back-link {
    padding: 15px;
 }
 
 .account-section .container-lg .account-section-content {
    padding-left: 0;
    padding-right: 0;
}

.page-add-edit-address .account-section .account-section-content .account-section-form {
    margin: 10px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
}

#countrySelector label.control-label {
    font-size: 14px;
    margin-bottom: 5px;
    text-transform: inherit;
}

#countrySelector select.form-control {
    text-transform: inherit;
    font-size: 13px;
    border: 1px solid #ddd;
    box-shadow: none;
    border-radius: 2px;
}

.account-section-form select.form-control {
    text-transform: inherit;
    font-size: 14px;
    padding: 5px;
    height: auto;
    min-height: 35px;
    border: 1px solid #ddd;
    box-shadow: none;
}

.i18nAddressForm label.control-label {
    text-transform: inherit;
    font-size: 14px;
}

.back-link button[type="button"]:active {
    background-color: transparent !important;

}

.accountFieldDiv select.form-control {
    height: auto;
    min-height: 35px;
}

.page-add-edit-address .accountActions .accountButtons {
    width: 50%;
    float: left;
    padding-top: 0 !important;
}

.page-login .footer__top.main-footer .row {
    margin: 0;
}

.page-PopYardReport .p_attribute_item_title,
.page-OrderBookingReport .p_attribute_item_title,
.page-SalesOrderReport .p_attribute_item_title {
    padding: 10px 0px;
    margin-top: 10px;

}

.page-PopYardReport .cust360_report_btn {
    width: 90px;
}

.page-PopYardReport .p_attribute_item_title select,
.page-OrderBookingReport .p_attribute_item_title select,
.page-SalesOrderReport .p_attribute_item_title select {
    width: 110px;
}

.page-PopYardReport .cust360_export_btn,
.page-OrderBookingReport .cust360_export_btn,
.page-SalesOrderReport .cust360_export_btn  {
    padding: 8px 10px !important;
    margin: 5px 0;
}

.page-PopYardReport .product_content h2,
.page-OrderBookingReport .product_content h2,
.page-SalesOrderReport .product_content h2,
.page-AccountStatementReport .product_content h2

 {
    font-size: 20px;
    padding: 10px 0 8px;
}

.page-AccountStatementReport #content {
 
    padding: 15px;
}


.page-AccountStatementReport .product__body {
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 5px #ddd;
}

.page-AccountStatementReport .cust360_export_btn,
.page-PopPlantReport .cust360_export_btn,
.page-PopYardReport .cust360_export_btn {
    padding: 8px 15px !important;
    margin: 0 0 15px 5px;
}

.page-AccountStatementReport .disclaimer {
    float: none !important;
    margin-top: 60px;
}

.page-AccountStatementReport .cust360_table_display .table > thead > tr > th,
.page-PopPlantReport .cust360_table_display .table > thead > tr > th,
.page-PopYardReport .cust360_table_display .table > thead > tr > th {
   min-width: 90px;
}

.page-AccountStatementReport .cust360_table_display .table > tbody > tr > td,
.page-PopPlantReport .cust360_table_display .table > tbody > tr > td,
.page-PopYardReport .cust360_table_display .table > tbody > tr > td   {
    vertical-align: middle;
        line-height: 15px;
}

.navigation--middle {
    border-bottom: 1px solid #ddd;
}

.top-head-fixed + .navigation--bottom {
    top: 122px;
}

.custDetailsBox #customerId {
    font-weight: 500;
    margin: 0;
    padding: 10px;
    font-size: 14px;
}

.custDetailsBox {
    border-radius: 2px;
}

.custDetailsBox #customerName {
    margin: 0;
    font-weight: 500;
    padding: 10px;
    float: right;
}

.page-AccountStatementReport .input-group .form-control {
    font-size: 12px !important;
 }


div#toTop {
    position: fixed;
    right: 15px;
    bottom: 10px;
    display: none;
}

span.myAcctExp.lni-chevron-down.lni-chevron-up:before {
    content: "\ea43";
}

.sub-navigation-section i.lni-chevron-right.default-arrow {
    display: block;
}

.box.post .info .stats {
    margin: 0 6px;
    float: left;
    border-left: 1px solid #cdcdcd;
    padding: 0 5px;
}

.box.post .info .stats li {
    margin: 0 5px;
    float: left;
}

.page-liveAuctionPage .box.post .info,
.page-watchListPage .box.post .info {
    padding: 12px 0px 12px 15px;
 }
 
 .page-liveAuctionPage .box.post .info .date,
 .page-watchListPage .box.post .info .date {
 float: left;
 }
 
.page-liveAuctionPage .top_level .bid_page_btn, .page-watchListPage .top_level .bid_page_btn {
    font-weight: 400 !important;
    margin: 5px 2px;
    padding: 10px 8px !important;
    float: left !important;
}

.page-liveAuctionPage .top_level .proxy_btn, .page-watchListPage .top_level .proxy_btn {
    padding: 10px 8px !important;
    font-weight: 400;
    float: left !important;
    margin: 5px 2px;
}


.col-sm-6.top_btns {
    padding: 0;
}

.page-liveAuctionPage .main-tableDiv.sticky-table,
.page-watchListPage .main-tableDiv.sticky-table {
    margin-top: 5px;
    height: 500px !important;
}



.page-liveAuctionPage .auction_dropdown .col-md-3,
.page-watchListPage .auction_dropdown .col-md-3 {
    width: 80px;
    float: left;
}

td.min-width-150 {
    min-width: 150px;
}

.page-auctionHomePage .home_main_panel .text_topLabel {
    margin-top: 0;
}

.page-liveAuctionPage .collapse table thead,
.page-watchListPage .collapse table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
 .page-liveAuctionPage .collapse table tr,
 .page-watchListPage .collapse table tr {
    border-bottom: 3px solid #f57921;
    display: block;
    margin-bottom: 0;
}
  
 .page-liveAuctionPage .collapse table td,
 .page-watchListPage .collapse table td {
    display: block;
    text-align: right;
  }
  
 .page-liveAuctionPage .collapse table td::before,
 .page-watchListPage .collapse table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    width: 50%;
    text-align: left;
    padding-left: 15px;
}
  
  .table_auctionData.table-bordered td {
    vertical-align: middle;
}
  
  
  .page-liveAuctionPage .collapse table td:last-child,
  .page-watchListPage .collapse table td:last-child {
    border-bottom: 0;
  }
  
.collapse .pr_table_show h3,
.page-watchListPage .collapse .pr_table_show h3 {
    position: fixed;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 12px;
}
  
 .page-liveAuctionPage .collapse .pr_table_show,
 .page-watchListPage .collapse .pr_table_show {
    bottom: 0;
    position: fixed;
    width: 100%;
    top: 62px;
    left: 0;
    background: #fff;
    z-index: 9999;
    overflow: auto;
    height: 100%;
    box-shadow: 0 0 2px #ddd;
    padding-bottom: 65px;
}

.page-auctionHomePage .home_main_panel .panel {
    overflow: auto;
}

.page-auctionHomePage .col-sm-12.home_main_panel {
    padding: 0;
}

.page-auctionHomePage .table_auctionData.table-bordered th {
    white-space: normal;
    min-width: 75px;
}



#sidebar i.fa.fa-calendar {
    padding-right: 6px;
}

.page-liveAuctionPage  table tr.prodRow td,
.page-watchListPage  table tr.prodRow td {
	text-align: left;
}

.filterGroup_btn .btn {
    width: 48%;
    background: #f57921 !important;
    margin: 0 0.2%;
}

.spinner {
	margin: 0;
}

.page-liveAuctionPage .collapse .pr_table_show .prods,
.page-watchListPage .collapse .pr_table_show .prods {
    margin: 35px 0 0 0;
    width: 100%;
}

.box #downloadVideos {
    margin-top: 0;
    padding: 0;
}

.box #downloadVideos a {
    margin: 5px;
    font-size: 15px;
}

.box #downloadPdf {
    margin-top: 5%;
    padding: 0;
}


#downloadPdf a {
    margin: 5px;
    font-size: 15px;
}

.page-liveAuctionPage button#watchList {
    width: calc(100% - 202px);
}

.page-liveAuctionPage .top_level .btn {
    width: 95px;
}

.main__inner-wrapper {
    display: inherit;
}

#tncBox {
    height: 330px;
}

#tncBox header {
    padding: 0;
    border-radius: 3px;
    background-image: none;
}


#tncBox p {
    font-size: 13px;
    line-height: 20px;
}


.disclaimer {
    font-size: 11px !important;
    color: #333 !important;
    line-height: 14px !important;
}

.page-homepage #content {

    background: #eee;
}

.drop-container .drop-1st-header .menu-filter {
    padding: 0;
    margin: 0;
}

.show-drop1, .show-article-drop1, .show-drop3, .show-media-drop1, .applicationShow,
.main-dropdown .article-sec img {

    display: none;
}

.drop-container {
    padding: 0;
}

.drop-container .drop-1st-header .menu-filter li {
    margin: 0;
    padding: 0;
}

body.fixed {
    overflow: hidden;
}


 #content {
    padding: 15px;

}

div#gradesListA {
    font-size: 13px;
}

.col-md-1.mobile-left-btn {
    float: left;
    width: 50%;
}

.col-md-1.mobile-right-btn {
    float: right;
    width: 50%;
}

.col-md-1 .cust360_export_btn {
    width: 100%;
    margin-bottom: 5px;
    padding: 10px 15px !important;
}


.col-md-6 .cust360_export_btn {
    width: 100%;
    min-width: 100px;
    margin-bottom: 5px;
    padding: 10px 15px !important;
}

.page-AccountStatementReport .main-tableDiv .cust360_table_display {
    margin-top: 10px;
}

.page-AccountStatementReport .input-group {

    width: 100%;
}

.custDetailsBox #customerName {
    padding: 15px 0;
    float: left;
    width: 100%;
    font-size: 14px;
}

.main-dropdown,
.navigation>li:hover .main-dropdown {
    background: #ddd;
    position: relative !important;
}

.drop-container .drop-1st-header {
    background: none !important;
    color: #333;
}

.main-dropdown .drop-container {
    padding: 0 !important;
    background: #ddd;
}

.drop-container .drop-1st-header .menu-filter li a {
    color: #333 !important;
    padding: 10px;
}

a.application.current {
    background: none;
}

.scroll-fixed {
    overflow: hidden;
}

.faq_border {
	background-color: #fdfafa;
    box-shadow: 0 0 5px #ccc;
    font-size: 15px;
    margin: 8px;
    padding: 15px;
    line-height: 18px;
}

.faq_border h3 {
    margin-top: 8px;
 }
 
 .marquee_title marquee {
    color: #611f27;
}


.radioOptions.checkedType .form-group:first-child {
    display: block;
    padding: 10px 5px;
}

.radioOptions.checkedType .form-group:first-child .label_heading {
    font-weight: 500;
    display: block;
    padding: 0;
    margin: 0;
    font-size: 18px !important;
}

.levelTop .form-inline .col-md-3 {
    width: 100%;
}

.levelTop input {
    height: 40px;
    box-shadow: none;
}

.levelTop .form-inline .col-md-3.makePayment_btn {
    width: 99%;
}

.makePayment_btn button.btn.btn-primary.pull-left {
    width: 100%;
    height: 40px;
}

.radioOptions.searchByInvoice .input-group {
    display: block;
}

.InvoiceDetails .input-group input.form-control {
    width: calc(100% - 152px);
    float: left;
    height: 37px;
}

.searchByAdvanceParameters input.searchInvoice {
    width: calc(100% - 45px) !important;
}

.searchByDueDate .pull-left {
    width: 100%;
}

.searchByDueDate .input-group {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
}


.searchByDueDate .input-group input.form-control {
    width: 100%;
}

.searchByDueDate button.btn.btn-primary {
    width: 100%;
    padding: 10px !important;
    margin-bottom: 10px;
}

.searchByDueDate i.icon.icon-magnifier {
    margin-right: 5px;
}

.payment_Filter {
    padding: 5px 5px 20px;
}

.levelTop label {
    display: block;
 }
 
 .payInvoice .form-inline .form-group {
    display: block;
    margin-bottom: 15px;
}

.payInvoice .form-inline .form-control {
    width: 100% !important;
 }
 
 .invoiceTableDetails {
    overflow: auto;
}

.invoiceTableDetails table.table tr > th {
    min-width: 100px;
    vertical-align: middle;
}

.invoiceTableDetails table.table tr > th:first-child {
    min-width: auto;
}

.InvoiceDetails .levelBottom .btn {
    width: 100%;
}



.radioOptions.searchByInvoice label, .radioOptions.searchByInvoice input {
    display: inline-block;
    height: auto;
    margin-bottom: 5px;
    vertical-align: text-top;
}

.cust360_table_display .table > thead > tr > th {
    font-weight: 400;
    line-height: 13px;
}

.close-nav button {
    background-color: #ffffff !important;
}

.payment_history {
    width: 96%;
    padding: 10px;
    margin: 2%;
    box-shadow: 0 0 5px 0 #ccc;
    background: #fff;
}

.payment_history h1 {
    font-size: 18px;
    margin: 10px 0 15px;
    font-weight: 500;
}

.page-jslMakePaymentHistory .input-group .form-control {
    height: 35px;
}

.faqDiv.container {
    background: #fff;
    padding: 20px;
    margin: 1%;
    width: 98%;
    box-shadow: 0 0 5px #ccc;
}


#content.plp_flat_product {
    width: 98%;
    margin: 5px 1%;
    clear: both;
    float: inherit;
}

table.placeOrderDetails .product_attribute_item {
    width: 33%;
    display: inline-block;
}

.placeOrderDetails .p_attribute_item_title {
    padding: 10px 5px 0;
    text-align: left;
    margin: 0;
}

.placeOrderDetails .p_attribute_item_value {
    padding: 5px 5px 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td.product_attribute_item.product_attribute_item_last {
    height: 120px;
}

.placeOrderDetails .c-input-box.last-input-box .c-input {
    max-width: 100px;
}

.add_to_cart_form .cartbutton {
    width: 90%;
    background: url(../images/delivery-truck.png) 33% 8px no-repeat;
    padding: 10px 10px 10px 30px !important;
    position: absolute;
    bottom: 12px;
    left: 0;
    margin: 0 5%;
    background-size: 25px;
}

#updatedMessageCart {
    width: 100%;
 }
 
 
 .plp_flat_product .pagination {
    padding: 10px;
}

#product-facet #sidebar {
    margin-left: 0;
    width: 100%;
    background: none;
    min-height: auto;
}


.page-productList #cboxLoadedContent {
    padding: 0;
}

span.facet_close {
	display: none;
}

.product__facet .facet .facet__values {
    display: block;
}

.product__facet .facet {
    border-bottom: 0 !important;
}


 .page-productList #cboxOverlay {
    position: fixed;

}

.page-productList .b-page__item.b-page__item--filter {
    overflow: auto;
    height: 79vh;
}

.pagination-bar .sort-refine-bar button {
    background: #b95208;
    margin: 5px 0;
}

#colorbox .product__facet {
    padding: 0;
}

.product__facet .js-facet-values .facet__list.facet_list_text li {
    margin: 2px 3%;
    width: 40%;
 }
 
 .page-productList .mini-cart-body .btn.btn-block {
    margin: 10px auto;
}

#plant_warehouse_message {
	width: 100%;
}

.facet-field.tab-facet .facet__list li {
    width: 46%;
}

.plp_flat_product .top .pagination {
    margin: 20px 0 10px;

}

.plp_flat_product .pagination {
    padding: 0;
    margin: 10px 0 10px;
    border-radius: 3px;
}

.pagination > li.pagination-prev {
    text-align: center;
}

.pagination > li.pagination-next {
    text-align: center;
}

.pagination > li {
    /* display: inline-block; */
    margin: 0 2px;
}

.pagination > li a.hidden-xs {
	display: block !important;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #fff;
    background-color: #f57921;
    border-color: #f57921;
}

.pagination > li > a, .pagination > li > span {
    border: 1px solid #f57921;
    color: #949599;
    font-weight: normal;
    border-radius: 100%;
}

.pagination > li.pagination-prev > a, .pagination > li.pagination-next > a, .pagination > li.pagination-prev > span, .pagination > li.pagination-next > span {
    border: 1px solid #f57921;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    font-size: 15px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background: #f57921;
    color: #f4f4f4;
    font-weight: 600;
    border-radius: 100%;
}

.searchByAdvanceParameters .radioOptions.searchByInvoice {
    padding-top: 10px;
}

#cboxLoadedContent .mini-cart.js-mini-cart {
    padding: 0 10px 0;
}

.mini-cart .mini-cart-body .legend {
    margin-bottom: 0;
    font-weight: 600;
    padding: 0 10px 10px;
}

.mini-cart .mini-cart-body .mini-cart-list {
    padding: 0 5px;
 }
 
 #cboxLoadedContent .mini-cart .mini-cart-body .mini-cart-totals {
    padding: 10px;
    margin-bottom: 15px;
}

.mainCartDiv .row .cart-actions--print .cart__actions {
    padding: 0 5px 0px;
}

.checkoutPage.mainCartDiv .cart-header {
	padding-top: 5px;
}
 
 .page-cartPage a.export__cart--link {
    margin-top: 8px;
    margin-left: 5px;
}
 
 .item__list--item > div {
    margin-left: 0;
    padding-right: 10px;
 }
 
 .item__list .item__list--item:last-child {
    padding-right: 0;
}

.page-cartPage .item__code, .page-cartPage .item__stock {
    line-height: 20px;
}

.item__list .item__quantity__total .qty label {
    text-transform: inherit;
    color: #333;
    line-height: 33px;
    font-size: 15px;
}

.item__list .item__quantity__total {
    padding-right: 0;
}

.checkoutPage .item__list__cart {
    margin: 15px;
}

.item__list .item__remove, .item__list .item__menu {
    right: 0;
    top: 0;
 }
 
 .cart-totals .cart-totals-left, .cart-totals .cart-totals-right, .cart-totals .cart-totals-taxes {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
}
 
 
.mainCartDiv .js-cart-totals.row {
    padding: 0 0px 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px !important;
}

.mainCartDiv .row .cart__actions {
    padding: 0 15px 20px;
}

.mainCartDiv .cart__top--totals {
    padding: 10px 15px;
    margin-top: 10px;
}

.checkout-steps .step-head:before {
    width: 34px;
    line-height: 48px;
}

.checkout-steps .step-head {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
}

.checkout-steps .step-body .step-body-form {
    padding: 10px 15px;
}

.checkout-paymentType label {
    text-transform: inherit;
    color: #333;
}

.checkout-help {
	margin: 20px;
    border-radius: 3px;
    font-size: 13px;
    line-height: 15px;
}

.checkout-steps .step-head .edit {
    color: #f57921;
}

.checkout-shipping .checkout-shipping-items > div {
    padding: 0 5px;
}

#addressbook .btn {
    width: calc(100% - 20px);
}

.checkout-indent select.form-control {
    text-transform: inherit;
    font-size: 13px;
    border-radius: 3px;
}

.checkout-order-summary {
    border: 1px solid #ddd;
    padding-bottom: 0;
 }
 
 .order-summary-list .checkout-order-summary-list-heading {
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
}

.checkout-order-summary .checkout-order-summary-list .checkout-order-summary-list-heading {
    background-color: transparent !important;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
}

.page-orderConfirmationPage .checkout-success__body {
    padding: 0;
}

.checkout-success__body__headline {
    font-size: 20px;
    margin-bottom: 0;
    text-transform: inherit;
    line-height: 30px;
    padding: 20px;
}

.page-orderConfirmationPage .continue__shopping {
    margin: -100px auto 0;
 }
 
 
#cboxLoadedContent {
    margin-top: 50px;
    padding: 15px 10px 20px 10px;
}

.is-collapsed {
	overflow: hidden;
}

.lni-close.lni-menu:before {
    content: "\e951" !important;
}

.navigation>li:hover>a:before {
 display: none;
 }
 
 #sidebar nav {
    overflow: auto;
 }
 
 .checkedType label {
    display: inline-block;
}

.levelTop .checkedType input {
    height: auto;
}

span.show_only_mobile {
    display: inline-block;
}

.supportTicketsDiv select.form-control {
    max-width: 100%;
    height: 38px;
}

#searchBox .searchBtn {
    padding: 12px 15px;
}

.batches_details_table {
    overflow: auto;
}

}

@media (min-width: 580px) and (max-width: 767px) {
.navigation--bottom .navigation__overflow{
	padding-bottom : 65px;
}

.nav-order-tools:before {
    left: 27%;
 
}

.navigation--middle .nav-cart .mini-cart-icon {
    float: none;
    top: -2px;
    text-align: center;
}

.navigation--middle .nav-cart .mini-cart-link .mini-cart-count {
    right: 5%;
 }
 
 .page-liveAuctionPage .top_level .col-sm-6.top_btns {
    width: 55%;
}

.page-liveAuctionPage .top_level .col-sm-6 {
    width: 45%;
}


}



.page-PopPlantReport rect.bg {
    width: 95%;
}

.svg-container > svg.main-svg {
	padding: 0 20px;
}
