<?xml version="1.0" encoding="UTF-8"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<?page title="JslBundleCockpit" ?>
<div width="100%" height="100%" style="overflow: hidden;">
	
	<!--  custom styles in here -->
	<style src="/cockpit/css/cockpit.css" /> 
	<style src="/jslBundleCockpit/css/jslBundleCockpit.css" />

	<include src="/cockpit/commonCSA.zul" visible="false"/>
	<include src="/jslBundleCockpit/jslBundleCockpitCSA.zul" visible="false"/>
	
	<window xmlns="http://www.zkoss.org/2005/zul" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:h="http://www.w3.org/1999/xhtml" 
		xmlns:zk="http://www.zkoss.org/2005/zk"
		xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd "
		id="mainWin" mode="embedded" height="100%" sclass="hywin" use="de.hybris.platform.cockpit.components.impl.MainWindow"
		shadow="false">
	
	</window>
</div>